{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::IncidentDecision/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">{{ icon('plus-circle fa-fw') }} {{ "Decision" | trans }}</h1>
{% endblock %}
{% block content_body %}
    {% if (form is not null) %}
        {{ form_start(form,{'attr': {'role':'form','id': 'add_update_form'},'style': 'horizontal'}) }}
        {{ form_errors(form, { 'global_errors': true }) }}

        <fieldset class="form-group row">
            <div class="container row border border-primary rounded p-2">
                <legend class="col-form-label col-sm-2 pt-5">{{ "Decision Filter"|trans }}</legend>
                <div class="col-sm-10">
                    {{ form_row(form.type) }}
                    {{ form_row(form.feed) }}
                    {{ form_row(form.network) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <div class=" container row border border-primary rounded p-2">
                <legend class="col-form-label col-sm-2 pt-5">{{ "Decision Properties" |trans }}</legend>
                <div class="col-sm-10">
                    {{ form_row(form.state) }}
                    {{ form_row(form.unrespondedState) }}
                    {{ form_row(form.unsolvedState) }}
                    {{ form_row(form.tlp) }}
                    {{ form_row(form.impact) }}
                    {{ form_row(form.urgency) }}
                    {{ form_row(form.id) }}
                </div>
            </div>

        </fieldset>

        <div class="container row ">
            <div class="col-sm-12">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}


    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/decision/IncidentDecisionForm.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incident_decision_form = new IncidentDecisionForm();
    </script>
{% endblock %}