{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::IncidentDecision/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h1 class="page-header"> {{ object }} {% include "CertUnlpNgenBundle:IncidentDecision:Frontend/list/incidentDecisionLabel.html.twig" with {'incidentDecision': object} %}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">decision Information</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ "System Id"|trans}}
                                </td>
                                <td class="">
                                    {{ object.id }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Name
                                </td>
                                <td class="">
                                    {{ object }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Created at
                                </td>
                                <td class="">
                                    {{ object.createdAt|date('Y-m-d') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    Last Update
                                </td>
                                <td class="">
                                    {{ object.updatedAt|date('Y-m-d') }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Active
                                </td>
                                <td class="">
                                    {% include "CertUnlpNgenBundle:IncidentDecision:Frontend/list/incidentDecisionLabel.html.twig" with {'incidentDecision': object} %}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}