{#
This file is part of the Ngen - CSIRT Incident Report System.

(c) CERT UNLP <support@cert.unlp.edu.ar>

This source file is subject to the GPL v3.0 license that is bundled
with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::IncidentDecision/Frontend/frontend.html.twig' %}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}
{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">
        {{ icon(object.icon~' fa-fw text-'~object.color) }}
        {{ object }}
        {{ print.colorboxbutton('primary','id-card',object.id,'#') }}
        {{ print.statusbox(object) }}
        {{ print.colordropbox(object.type.color(lang),object.type.icon,object.type,path('cert_unlp_ngen_incident_type_detail',{'slug': object.type.slug}),'','d-inline')  }}
        {{ print.colordropbox(object.state.color,object.state.icon,object.state,path('cert_unlp_ngen_incident_state_detail',{'slug': object.state.slug}),'','d-inline')  }}
        {{ print.colordropbox(object.priority.color,object.priority.icon,object.priority,path('cert_unlp_ngen_incident_priority_detail',{'id': object.priority.id}),'','d-inline')  }}
        {{ print.colordropbox(object.feed.color,object.feed.icon,object.feed,path('cert_unlp_ngen_incident_feed_detail',{'slug': object.feed.slug}),'','d-inline')  }}
        {{ print.colorboxbutton(object.tlp.color,object.tlp.icon,object.tlp,'#') }}
        {% if object.network %}
            {{ print.colordropbox(object.network.color,object.network.icon,object.network,path('cert_unlp_ngen_network_detail_network_id',{'id':object.network.id}),'','d-inline')  }}
        {% endif %}
        {{ print.colorbox('primary','edit','Edit',path('cert_unlp_ngen_incident_decision_edit',{'id': object.id})) }}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Decision Information'|trans }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ "System Id"|trans }}
                                </td>
                                <td class="">
                                    {{ object.id }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Name'|trans }}
                                </td>
                                <td class="">
                                    {{ object }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Created at'|trans }}
                                </td>
                                <td class="">
                                    {{ object.createdAt|date('Y-m-d') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'Last Update'|trans }}
                                </td>
                                <td class="">
                                    {{ object.updatedAt|date('Y-m-d') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}