{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::IncidentDecision/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h2 class="page-header">{{ icon('plus-circle fa-fw') }} {{"Decision" | trans  }}</h2>
{% endblock %}
{% block content_body %}

    {% if (form is not null) %}
        {{ form_start(form,{'attr': {'role':'form','id': 'add_update_form'},'method': method | default('post'),'style': 'horizontal'}) }}
        {{ form_errors(form, { 'global_errors': true }) }}

        <fieldset class="scheduler-border" style="border:#0d70b7 2px solid;width:80%;margin:1em 1em 1em 1em">
            <legend class="scheduler-border">{{ "Decision Filter"|trans }}</legend>

         <div class="form-group" style="width:100%">

        {{ form_row(form.type) }}
        {{ form_row(form.feed) }}
        {{ form_row(form.network) }}

         </div>
        </fieldset>
          <fieldset class="scheduler-border" style="border:#0d70b7 2px solid;width:80%;margin:1em 1em 1em 1em">
            <legend class="scheduler-border">{{ "Decision Properties" |trans }}</legend>
        <div class="form-group" style="width:100%">
        {{ form_row(form.state) }}
        {{ form_row(form.tlp) }}
        {{ form_row(form.impact) }}
        {{ form_row(form.urgency) }}
        {{ form_row(form.id) }}
        </div>
          </fieldset>
         <div class="form-group" style="width:80%;float:left;margin:1em 1em 1em 1em">
        {{ form_row(form.save) }}
         </div>
        {{ form_end(form) }}


    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/decision/IncidentDecisionForm.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incident_decision_form = new IncidentDecisionForm();
    </script>
{% endblock %}