{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CertUnlp | {% block title %}{% endblock %}</title>
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="{{ asset('bundles/certunlpngen/css/style.css') }}" media="screen" />
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}
    {% block stylesheets %}{% endblock %}
{% block rss %}{% endblock %}
{% block javascripts_head %}{% endblock %}
</head>

<body id="{% block id '' %}">
    <div class="container">
        <div id="notifications" class="notifications">
            {% include 'BraincraftedBootstrapBundle::flash.html.twig' with { 'close': true } %}
        </div>


        <div class="page-header">
            {% include 'CertUnlpNgenBundle::navBar.html.twig' %}
        </div>


    {% block body %}{% endblock %}

    <footer>

        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        {#        <script src="{{ asset('js/jquery.js') }}"></script>#}
        <!-- Include all JavaScripts, compiled by Assetic -->
        {#        <script src="{{ asset('js/bootstrap.js') }}"></script>#}
        {% javascripts 
            'js/jquery.js'
            'js/bootstrap.js'
            '@CertUnlpNgenBundle/Resources/public/js/lib/spin.min.js'
            '@CertUnlpNgenBundle/Resources/public/js/lib/*'
            '@CertUnlpNgenBundle/Resources/public/js/*'%}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script>
            var cert_unlp = new CertUnlp();
        </script>
    {% block javascripts_footer %}{% endblock %}
</footer>
</div>
</body>
</html>