{% extends 'CertUnlpNgenBundle::base.html.twig' %}
{% block body %}
    {% block navigation_block %}
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('cert_unlp_ngen_internal_incident_frontend_home') }}">
                <img style="max-height: 2em;" src="{{ asset('bundles/certunlpngen/images/ngen01.svg') }}">
            </a>
        </div>
        {% if app.user %}
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% include 'CertUnlpNgenBundle:navBar:navRight.html.twig' %}
            {% block navigation_sidebar %}
                <div id="sidebar-wrapper">
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse" aria-expanded="false" style="height: 1px;">
                        <ul class="nav in" id="side-menu">
                            <li class="sidebar-search">
                                <form method='post' action="{% block sideBar_search_path %}{% endblock %}"
                                      role="search">
                                    <div class="input-group custom-search-form">
                                        <input type="text" name="term" class="form-control"
                                               value="{{ term | default('') }}" placeholder="Search...">
                                        <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default">{{ icon('search') }}</button>
                                        </span>
                                    </div>
                                </form>
                            </li>
                            {#<li>
                            <a href="{{path('cert_unlp_ngen_incident_frontend_home')}}" class="active"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>#}
                            <li {{ ('incident' in app.request.getUri or 'host' in app.request.get('_route'))? 'class="active"' : 'class' }} >
                                <a href="#" {{ ('incident' in app.request.getUri)? 'class="active"' : 'class' }}>
                                    {{ icon('exclamation-circle fa-fw') }} Incidents
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level collapse{{ ('incident' in app.request.getUri or 'host' in app.request.get('_route'))? 'in' : '' }}"
                                    aria-expanded="{{ ('incident' in app.request.getUri or 'host' in app.request.get('_route'))? 'true' : 'false' }}" {{ ('incident' in app.request.getUri or 'host' in app.request.get('_route'))? '' : 'style="height: 0px;"' }}>
                                    {#                                    {% if 'incident' in app.request.getUri %} ::before {% endif %}#}
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_internal_incident_frontend_home') }}" {{ ('incident' in app.request.getUri)? 'class="active"' : '' }}>
                                            {{ icon('exclamation-circle fa-fw') }}  {{ 'Incidents'|trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_host_frontend_home') }}" {{ ('host' in app.request.get('_route'))? 'class="active"' : '' }}>
                                            {{ icon('cube fa-fw') }} {{ 'Hosts'|trans }}</a>
                                    </li>

                                </ul>

                            </li>
                            <li {{ ('network' in app.request.getUri)? 'class="active"' : '' }}>

                                <a href="#" {{ ('network' in app.request.getUri)? 'class="active"' : '' }}>
                                    {{ icon('share-alt-square fa-fw') }} {{ 'Networks'| trans }}
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level collapse{{ ('network' in app.request.getUri)? 'in' : '' }}"
                                    aria-expanded="{{ ('network' in app.request.getUri)? 'true' : 'false' }}" {{ ('network' in app.request.getUri)? '' : 'style="height: 0px;"' }}>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_network_frontend_home') }}" {{ ('network_frontend' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('share-alt fa-fw') }}
                                            {{ 'Networks'| trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_network_admin_frontend_home') }}" {{ ('admin' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('users fa-fw') }}
                                            {{ 'Admins'| trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_network_network_entity_frontend_home') }}" {{ ('academic' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('cubes fa-fw') }}
                                            {{ 'Entities'| trans }}</a>
                                    </li>
                                </ul>

                            </li>
                            <li>
                                <a href="{{ path('cert_unlp_ngen_user_frontend_home') }}" {{ ('user' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('users fa-fw') }}
                                    {{ 'Users'| trans }}</a>
                            </li>

                            <li {{ ('administration' in app.request.getUri)? 'class="active"' : '' }}>
                                <a href="#" {{ ('administration' in app.request.getUri)? 'class="active"' : '' }}>
                                    {{ icon('sliders') }} {{ 'Administration'| trans }}
                                    <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level collapse{{ ('administration' in app.request.getUri)? 'in' : '' }}"
                                    aria-expanded="{{ ('administration' in app.request.getUri)? 'true' : 'false' }}" {{ ('network' in app.request.getUri)? '' : 'style="height: 0px;"' }}>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_administration_feed_frontend_home') }}" {{ ('feed' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('feed fa-fw') }}
                                            {{ 'Feeds'| trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_administration_state_frontend_home') }}" {{ ('state' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('unlock-alt fa-fw') }}
                                            {{ 'States'| trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_administration_type_frontend_home') }}" {{ ('types' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('cubes fa-fw') }}
                                            {{ 'Types'| trans }}</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('cert_unlp_ngen_incident_decision_frontend_home') }}" {{ ('decision' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('unlock-alt fa-fw') }}
                                            {{ 'Incident Decisions'| trans }}</a>
                                    </li>
                                    {#                                    <li>#}
                                    {#                                        <a href="{{ path('cert_unlp_ngen_incident_priority_frontend_home') }}" {{ ('priority' in app.request.getUri)? 'class="active"' : '' }}>{{ icon('unlock-alt fa-fw') }}#}
                                    {#                                            {{ 'Incident Priority'| trans }}</a>#}
                                    {#                                    </li>#}

                                </ul>
                            </li>
                        </ul>


                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                </div>
            {% endblock %}
            </nav>
        {% endif %}
    {% endblock %}

    {% block page_wrapper %}
        <div id="page-wrapper">
            {% block content %}
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %}
