<a class="sidebar-brand d-flex align-items-center justify-content-center"
   href="{{ path('cert_unlp_ngen_internal_incident_frontend_home') }}">
    <div class="sidebar-brand-icon rotate-n-15">
        <img style="max-height: 2em;" src="{{ asset('bundles/certunlpngen/images/ngen01.svg') }}">
    </div>
    <div class="sidebar-brand-text mx-3"> CERTUNLP - NGEN</div>
</a>
<hr class="sidebar-divider my-0">
<li class="nav-item active">
    <form method="get" action="{% block sideBar_search_path %}{% endblock %}"
          class="generalSearch" role="search">
        <div class="input-group custom-search-form">
            <input type="text" name="term" class="form-control" value="{{ term | default('') }}"
                   placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-secondary">{{ icon('search') }}</button>
            </span>
        </div>
    </form>
</li>
<!-- Divider -->

<!-- Nav Item - Dashboard -->

<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading">
</div>
<li class="nav-item">
    <!-- Nav Item - Pages Collapse Menu -->
    <a class="nav-link {{ ('incident' in app.request.get('_route'))? '' : 'collapsed' }}" href="#"
       data-toggle="collapse"
       data-target="#collapseTwo" aria-expanded="true"
       aria-controls="collapseTwo">
        {{ icon('exclamation-circle') }} <span class="sidebar-brand-text">{{ 'Incidents' | trans }}</span>
    </a>
    <div id="collapseTwo" class="collapse {{ ('incident' in app.request.get('_route'))? 'show' : '' }}"
         aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="{{ path('cert_unlp_ngen_internal_incident_frontend_home') }}">
                {{ icon('exclamation-circle fa-fw') }}  {{ 'Incidents'|trans }}</a>
        </div>
    </div>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading"></div>
<li class="nav-item">
    <a class="nav-link {{ ('network' in app.request.get('_route') or 'host' in app.request.get('_route'))? '' : 'collapsed' }}"
       href="#" data-toggle="collapse"
       data-target="#collapseNetworks"
       aria-controls="collapseTwo">
        <span>{{ icon('share-alt-square') }} {{ 'Community'| trans }}</span>
    </a>
    <div id="collapseNetworks"
         class="collapse {{ ('network' in app.request.get('_route')  or 'host' in app.request.get('_route'))? 'show': '' }}"
         aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Network elements</h6>
            <a class="collapse-item"
               href="{{ path('cert_unlp_ngen_network_frontend_home') }}">{{ icon('fa fa-share-alt fa-fw') }} {{ 'Networks'| trans }}</a>
            <a class="collapse-item" href="{{ path('cert_unlp_ngen_host_frontend_home') }}">
                {{ icon('fas fa-laptop') }} {{ 'Hosts'|trans }}</a>
            <h6 class="collapse-header">Network management</h6>
            <a class="collapse-item"
               href="{{ path('cert_unlp_ngen_network_admin_frontend_home') }}">{{ icon('fa fa-users fa-fw') }} {{ 'Admins'| trans }}</a>
            <a class="collapse-item"
               href="{{ path('cert_unlp_ngen_network_network_entity_frontend_home') }}">{{ icon('fas fa-sitemap') }} {{ 'Entities'| trans }}</a>
        </div>
    </div>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading"></div>
<li class="nav-item">
    <a class="nav-link {{ ('administration' in app.request.get('_route'))? '' : 'collapsed' }}" href="#"
       data-toggle="collapse" data-target="#collapseAdmin"
       aria-controls="collapseUtilities">
        <span>   {{ icon('sliders-h') }} {{ 'Administration'| trans }}</span>
    </a>
    <div id="collapseAdmin" class="collapse {{ ('administration' in app.request.get('_route'))? 'show' : '' }}"
         aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a href="{{ path('cert_unlp_ngen_administration_feed_frontend_home') }}"
               class="collapse-item">{{ icon('fas fa-syringe') }} {{ 'Feeds'| trans }}</a>
            <a href="{{ path('cert_unlp_ngen_administration_state_frontend_home') }}"
               class="collapse-item">{{ icon('fas fa-thermometer') }} {{ 'States'| trans }}</a>
            <a href="{{ path('cert_unlp_ngen_administration_type_frontend_home') }}"
               class="collapse-item">{{ icon('cubes fa-fw') }} {{ 'Types'| trans }}</a>
            <a href="{{ path('cert_unlp_ngen_incident_decision_frontend_home') }}"
               class="collapse-item"> {{ icon('fas fa-question') }} {{ 'Incident Decisions'| trans }}</a>
            <a href="{{ path('cert_unlp_ngen_incident_priority_frontend_home') }}"
               class="collapse-item">{{ icon('list-ol fa-fw') }} {{ 'Incident Priorities'| trans }}</a>
        </div>
    </div>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading"></div>
<li class="nav-item">
    <a class="nav-link {{ ('dashboard' in app.request.get('_route'))? '' : 'collapsed' }}" href="#"
       data-toggle="collapse" data-target="#collapseDashboard" aria-expanded="true"
       aria-controls="collapseDashboard">
        <span> {{ icon('fas fa-chart-line') }} {{ 'Dashboard'| trans }}</span>
    </a>
    <div id="collapseDashboard" class="collapse {{ ('dashboard' in app.request.get('_route'))? 'show' : '' }}"
         aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a href="{{ path('cert_unlp_ngen_dashboard_internal') }}"
               class="collapse-item">{{ icon('fas fa-chart-line') }} {{ 'Internal Dashboards'| trans }}</a>
            <a href="{{ path('cert_unlp_ngen_dashboard_external') }}"
               class="collapse-item">{{ icon('fas fa-chart-line') }} {{ 'External Dashboards'| trans }}</a>
        </div>
    </div>
</li>
<!-- Divider -->
<hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading"></div>
<li class="nav-item">
    <a class="nav-link {{ ('user' in app.request.get('_route'))? '' : 'collapsed' }}" href="#" data-toggle="collapse"
       data-target="#collapseSettings" aria-expanded="true"
       aria-controls="collapseUtilities">
        <span> {{ icon('cog') }} {{ 'Settings'| trans }}</span>
    </a>
    <div id="collapseSettings" class="collapse {{ ('user' in app.request.get('_route'))? 'show' : '' }}"
         aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <a href="{{ path('cert_unlp_ngen_user_frontend_home') }}"
               class="collapse-item">{{ icon('users fa-fw') }} {{ 'Users'| trans }}</a>
        </div>
    </div>
</li>
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">
<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
