{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{'Incident Priorities'|trans}}{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{ icon('unlock-alt fa-fw') }} {{'Incident Priorities'|trans}}</h1>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_incident_priority_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:IncidentPriority:Frontend/list/incidentPriorityList.html.twig' with {'IncidentPriorities': objects  } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/priority/IncidentPriority.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/priority/IncidentPriorityApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incident_priority = new IncidentPriority();
        var incident_priority_api = new IncidentPriorityApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}
