{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::IncidentPriority/Frontend/frontend.html.twig' %}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}
{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">
        {{ icon(object.icon ~' fa-fw text-'~object.color) }}
        {{ object }}
        {{ print.colorboxbutton('primary','id-card',object.id,'#') }}
        {{ print.statusbox(object) }}
        {{ print.colorbox('primary','edit','Edit',path('cert_unlp_ngen_incident_priority_edit',{'id': object.id})) }}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Priority Information'|trans }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ 'Urgency'| trans }}
                                </td>
                                <td class="">
                                    {{ object.urgency| trans }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Impact'| trans }}
                                </td>
                                <td class="">
                                    {{ object.impact | trans }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Priority'| trans }}
                                </td>
                                <td class="">
                                    {{ object.code }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}