{% macro colorbox(color,icon,text,href) %}
    <a class="btn btn-primary btn-icon-split btn-sm btn-{{ color }} shadow-sm" role="button"
       href="{{ href }}"
       title=" {{ text }}">
        <span class="icon text-white-50">
            {{ icon('fas fa-'~icon~' fa-xs text-white-50') }}
        </span>
        <span class="text">
            {{ text }}
        </span>
    </a>
{% endmacro %}

{% macro statuscolor(object) %}
    {% import _self as print %}
    {{ print.colorbox(object.isactive?'success':'danger',object.isactive?'toggle-on':'toggle-off',object.isactive?'active':'not active','#') }}
{% endmacro %}