{% macro colorbox(color,icon,text,href,id,class) %}
    <a class="btn btn-icon-split btn-sm btn-{{ color }} {{ class }} {{ id?'colorbox-filter':'' }} shadow-sm"
       role="button" target="{{ href=='#'?:'_blank' }}"
       href="{{ href }}" data-id="{{ id?id:'' }}"
       title="{{ text }}">
            <span class="icon text-white-50">
                {{ icon('fas fa-'~icon~' fa-xs text-white-50') }}
            </span>
        <span class="text">
                {{ text }}
            </span>
    </a>
{% endmacro %}
{% macro colorboxbutton(color,icon,text,id,class) %}
    <button class="btn btn-icon-split btn-sm btn-{{ color }} {{ class }}  shadow-sm"
       role="button"
       data-id="{{ id?id:'' }}"
       title="{{ text }}">
            <span class="icon text-white-50">
                {{ icon('fas fa-'~icon~' fa-xs text-white-50') }}
            </span>
        <span class="text">
                {{ text }}
            </span>
    </button>
{% endmacro %}
{% macro colordropbox(color,icon,text,href,id, class) %}
    <div class="dropdown {{ class }}">
        <button id="dropdownMenuButton"
                class="btn dropdown-toggle-split btn-icon-split btn-sm btn-{{ color }} shadow-sm" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon text-white-50">
                {{ icon('fas fa-'~icon~' fa-xs text-white-50') }}
            </span>
            <span class="text">
                {{ text }}
            </span>
        </button>
        <div class="dropdown-menu animated--fade-in filter-list-dropdown" aria-labelledby="dropdownMenuButton"
             x-placement="bottom-start">
            {% if href != '#' or not href %}
                <a class="dropdown-item" target="_blank"
                   href="{{ href }}">
                    <span class="text-{{ color }}">
                        <i class="fas fa-eye"></i>
                        <span class="action-text">Detail</span>
                    </span>
                </a>
            {% endif %}
            {% if id %}
                <a class="dropdown-item colorbox-filter" data-action="add"
                   href="#" data-id="{{ id }}">
                    <span class="text-{{ color }}">
                        <i class="fas fa-filter"></i>
                        <span class="text">Filter</span>
                    </span>
                </a>
            {% endif %}
        </div>
    </div>
{% endmacro %}
{% macro statusbox(object) %}
    <a class="btn btn-icon-split btn-sm btn-{{ object.isactive?'success':'danger' }} shadow-sm"
       role="button" href="#" title=" {{ object.isactive?'active':'not active' }}">
            <span class="icon text-white-50">
                {{ icon('fas fa-'~object.isactive?'toggle-on':'toggle-off'~' fa-xs text-white-50') }}
            </span>
        <span class="text">
                {{ object.isactive?'active':'not active' }}
            </span>
    </a>
{% endmacro %}
{% macro statusdropbox(object, class) %}
    <div class="dropdown {{ class }}">
        <button id="dropdownMenuButton"
                class="btn dropdown-toggle-split btn-icon-split btn-sm btn-{{ object.isactive?'success':'danger' }} ladda-button shadow-sm"
                type="button" data-style="slide-down"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="icon text-white-50">
                {{ icon('fas fa-'~object.isactive?'toggle-on':'toggle-off'~' fa-xs text-white-50') }}
            </span>
            <span class="text">
                {{ object.isactive?'active':'not active' }}
            </span>
        </button>
        <div class="dropdown-menu animated--fade-in filter-list-dropdown" aria-labelledby="dropdownMenuButton"
             x-placement="bottom-start">
            <a class="dropdown-item status-box" target="_blank"
               data-action="{{ object.isactive?'desactivate':'reactivate' }}"
               href="#">
                <span class="text-{{ object.isactive?'success':'danger' }}">
                    <i class="fas fa-exchange-alt"></i>
                </span>
                <span class="action-text">Change</span>
            </a>
            <a class="dropdown-item colorbox-filter" data-action="add"
               href="#" data-id="{{ object.isactive? 'true':'false' }}">
                <span class="text-{{ object.isactive?'success':'danger' }}">
                    <i class="fas fa-filter"></i>
                </span>
                <span class="text">Filter</span>
            </a>
        </div>
    </div>
{% endmacro %}