{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{ 'Network Entities'|trans }}{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{ icon('users fa-fw') }} {{ 'Network Entities'|trans }}</h1>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_network_entity_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:NetworkEntity:Frontend/list/networkEntityList.html.twig' with {'networkEntitys': objects  } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/network_entity/NetworkEntity.js'
        '@CertUnlpNgenBundle/Resources/public/js/network_entity/NetworkEntityApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var network_entity = new NetworkEntity();
        var network_entity_api = new NetworkEntityApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}
