{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Incident/Frontend/incidentDetail.html.twig' %}
{% block sideBar_search_path %}{{path('cert_unlp_ngen_external_incident_search_incident')}}{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{icon('arrow-circle-up fa-fw')}}External incident [ID: {{incident.id}}][{{incident.type}}]{%include "CertUnlpNgenBundle:Incident:Frontend/list/stateLabel.html.twig" with {'incident': incident}%}</h1>
{% endblock %}
{% block network_body %}

    <div class="col-lg-6">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Network info</h3>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-bordered">
                    <tr>
                        <td class="">
                            IP/mask
                        </td>
                        <td class="">
                            {{incident.network}}
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            Country
                        </td>
                        <td class="">
                            {{incident.country}}
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            Start address
                        </td>
                        <td class="">
                            {{incident.startAddress}}
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            End address
                        </td>
                        <td class="">
                            {{incident.endAddress}}
                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            Network entity
                        </td>
                        <td class="">
                            {{incident.networkEntity}}

                        </td>
                    </tr>
                    <tr>
                        <td class="">
                            Abuse entity
                        </td>
                        <td class="">
                            {{incident.abuseEntity}}

                        </td>
                    </tr>
                    <tr>
                        <td class="">
                        </td>
                        <td class="">
                            {{incident.abuseEntityEmails|join('|')}}

                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block comments_body %}
    {{ render(controller('CertUnlpNgenBundle:ExternalIncidentFrontend:incidentComments', {'incident': incident, 'request': app.request})) }}
{% endblock %}