{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% if incident.openDays(true) >= 3 and incident.openDays(true) <=6 %}
    {% set trclass = "warning" %}
{% elseif incident.openDays(true) >6 %}
    {% set trclass = "danger" %}
{% else %}
    {% set trclass = "success" %}
{% endif %}

{% for lastTimeDetected in incident.lastTimeDetected %}

<span class="label label-{{ trclass }}">{{ incident.openDays(true)~" days" }}</span>
{% if lastTimeDetected %}
<span class="label label-warning">ltd {{ lastTimeDetected.dateDetected | date('Y-m-d H:i') }}-{{ lastTimeDetected.feed  }}</span>
{%  else %}
<span class="label label-warning">ltd {{ lastTimeDetected.dateDetected | date('Y-m-d H:i') }}-{{ lastTimeDetected.feed  }}</span>
{% endif %}
{% endfor %}
