{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% block content %}
    <h1 class="title">{{ 'incident.list'|trans({}, 'CertUnlpNgenBundle') }}</h1>

    <ul id="incident-list">
        {% for incident in incidents %}
            <li>
                <a href="{{ path('api_1_get_incident', {'incident': incident.id}) }}">{{ incident.title }}</a>
                {#[<a href="{{ path('api_1_edit_pages', {'id': page.id}) }}">{{ 'page.edit.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
                {#[<a href="{{ path('api_1_remove_pages', {'id': page.id}) }}">{{ 'page.remove.link'|trans({}, 'AcmeBlogBundle') }}</a>]#}
            </li>
            {% else %}
                <li>{{ 'page.list.empty'|trans({}, 'CertUnlpNgenBundle') }}</li>
                    {% endfor %}
                </ul>
                <p>
                    <a href="{{ path('api_1_new_incident') }}">{{ 'incident.new.link'|trans({}, 'CertUnlpNgenBundle') }}</a>
                </p>
                {% endblock %}