{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% for changeHistory in incident.changeStateHistory %}

<span class="label label-info">{{ 'Change made by '|trans }} {{ changeHistory.responsable }} {{ changeHistory.date | date('Y-m-d H:i')}} {{ ' from old state '|trans }}{{ changeHistory.oldState  }}{{  ' to new state '|trans }}{{ changeHistory.newState  }}</span>

{% endfor %}
