{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
<table class="table  table-hover dataTable no-footer">
    <tr role="row">
        <th>{{ 'Responsable'|trans }}</th>
        <th>{{ 'Date'|trans }}</th>
        <th>{{ 'Old State'|trans }}</th>
        <th>{{ 'New State'|trans }}</th>
        <th>{{ 'Action'|trans }}</th>
    </tr>
    <tbody>
    {% for changeHistory in incident.getChangeStateHistory %}
        <tr>
            <td>
                {{ changeHistory.responsable }}
            </td>
            <td>
                {{ changeHistory.date|date('Y-m-d H:i') }}
            </td>
            <td>
                {{ changeHistory.oldState | trans }}
            </td>
            <td>
                {{ changeHistory.newState |trans }}
            </td>
            <td>
                {{ changeHistory.actionApplied |trans }}
            </td>

        </tr>

    {% endfor %}
    </tbody>

</table>
