{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}

{% block content_body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            {% block list_header %}
                <strong>{{icon('exclamation-circle fa-fw')}} Incidents</strong>
            {% endblock %}
            <div class="pull-right">
                <div class="btn-group">
                    {% block add_incident %}
                        <a class="btn btn-default btn-xs" href="{{path('cert_unlp_ngen_internal_incident_frontend_new_incident')}}">
                            {{icon('plus-circle fa-fw')}}add incident
                        </a>
                    {% endblock %}

                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <tr role="row">
                <th>{{ knp_pagination_sortable(objects, 'Status', 'state.name') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Host address', 'hostAddress') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Type', 'type.name') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Feed', 'feed.name') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Date', 'date') }}</th>
                <th>Action</th>
            </tr>
            <tbody>
                {% for incident in objects %}
                    {% block list_body %}

                    {% endblock %}

                {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="pagination-centered">
        {{ knp_pagination_render(objects, null, {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
    </div>
{% endblock %}