{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}

{% block content_body %}

    <div class="card shadow mb-4">
        <div class="card-header  d-sm-flex align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">
                <strong>{{ 'Showing'|trans }}</strong>
                <strong id="incidentcount">
                    ({{ objects.getPaginationData.lastItemNumber~'/'~objects.getTotalItemCount }})
                </strong>
            </h6>
                <button id="btnFilter" class="btn btn-primary btn-sm active" type="button" data-toggle="button"
                    aria-pressed="true">
                <strong>{{ icon('filter') }}</strong>
            </button>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tabla_incidentes" class="table table-bordered">
                    <thead>
                    <tr role="row" id="filters">
                         {% include '@CertUnlpNgen/Incident/Frontend/list/filterHeadersPaginator.html.twig' with {'objects': objects} %}
                    </tr>
                    {% include '@CertUnlpNgen/Incident/Frontend/list/filterPaginator.html.twig' with {'objects': objects} %}
                    </thead>

                    <tbody>
                    {% for incident in objects %}
                        {% block list_body %}
                            {% include 'CertUnlpNgenBundle:Incident:Frontend/list/incidentListRow.html.twig' with {'incident': incident} %}
                        {% endblock %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr role="row" id="filters">
                        {% include '@CertUnlpNgen/Incident/Frontend/list/filterHeadersPaginator.html.twig' with {'objects': objects} %}
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div id="paginatorbar">
        {{ knp_pagination_render(objects) }}
    </div>

{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_internal_incident_search_incident') }}{% endblock %}

{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">{{ icon('arrow-circle-down fa-fw') }} {{ "Incidents" | trans }}</h1>
    <a href="{{ path('cert_unlp_ngen_internal_incident_frontend_new_incident') }}"
       class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-plus-circle fa-sm text-white-50"></i> {{ "add incident" | trans }}</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/Incident.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var IncidentApi = new IncidentApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var Incident = new Incident();
        $('#btnFilter').on('click', function (e) {
            e.preventDefault();
            var elem = $('#filtrosMostrar');
            elem.toggle('slow');
        });
    </script>
{% endblock %}