{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}

{% block content_body %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="dropdown">
            <strong>{{ icon('arrow-circle-down fa-fw') }} {{ "Incidents" | trans }} </strong>
            <strong>({{ objects.getPaginationData.lastItemNumber~'/'~objects.getTotalItemCount }})</strong>


            <button id="btnFilter" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"> <strong>{{ icon('filter') }}</strong>
       <span class="caret"></span></button>
           </div>
            <div class="pull-right">
                <div class="btn-group">

                </div>
            </div>
        </div>
        <table class="table table-striped table-bordered table-hover dataTable no-footer">
            <tr rote="row" id="filters">
                <th>{{ knp_pagination_sortable(objects, 'Status'| trans, 'state.name') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Address'| trans , 'origin.ip') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Assigned'| trans , 'assigned.username') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Type'| trans, 'type.name') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Feed'| trans, 'feed.name') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Date'| trans, 'date') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Priority'| trans, 'priority.name') }}</th>
                <th>{{ knp_pagination_sortable(objects, 'Reportes'| trans, 'ltdCount') }}</th>
                <th>{{ 'Actions'|trans }}</th>
            </tr>
                <tr id="filtrosMostrar" class="filtrosMostrar"  style="display: none;"  >

                <th>
                    <form method='post' action="filter" role="search">
                        {{ form_row(search_form.state) }}
                    </form>
                </th>
                <th>
                    <form method='post' action="filter" role="search">
                    <div class="input-group custom-search-form">
                        <input type="text" name="termState" class="form-control" value="{{ term | default('') }}" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default">{{ icon('filter') }}</button>
                        </span>
                    </div>
                </form>
                </th>
                <th>
                    <form method='post' action="filter" role="search">
                        {{ form_row(search_form.assigned) }}
                    </form>
                </th>

                <th>
                    <form method='post' action="filter" role="search">
                        {{ form_row(search_form.type) }}
                    </form>
                </th>

                <th>
                    <form method='post' action="filter" role="search">
                        {{ form_row(search_form.feed) }}
                    </form>
                </th>
                <th>
                    <form method='post' action="filter" role="search">
                        {{ form_row(search_form.date) }}
                    </form>
                </th>
                <th>
                    <form method='post' action="filter" role="search">
                        {{ form_row(search_form.priority) }}
                    </form>
                </th>

                <th></th>
                <th></th>
            </tr>
            <tbody>
            {% for incident in objects %}
                {% block list_body %}
                    {% include 'CertUnlpNgenBundle:Incident:Frontend/list/incidentListRow.html.twig' with {'incident': incident} %}
                {% endblock %}

            {% endfor %}
            </tbody>

        </table>
    </div>
    <div class="pagination-centered">
        {{ knp_pagination_render(objects, null, {}, { "prev_label": "Previous" | trans , "next_label": "Next"| trans, "first_label": "First"| trans, "last_label": "Last"| trans}) }}
    </div>

{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_internal_incident_search_incident') }}{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{ icon('arrow-circle-down fa-fw') }} {{ "Incidents" | trans }}
        <div class="pull-right">
            <a class="btn btn-primary btn-bg"
               href="{{ path('cert_unlp_ngen_internal_incident_frontend_new_incident') }}">
                {{ icon('plus-circle fa-fw') }}{{ "add incident" | trans }}
            </a>
        </div>
    </h1>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/Incident.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var IncidentApi = new IncidentApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var Incident = new Incident();
        $('#btnFilter').on('click', function (e) {
            e.preventDefault();
            var elem = $('#filtrosMostrar');
            elem.toggle('slow');
        });
    </script>
{% endblock %}