{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}

{% block content_header %}
    <h2 class="page-header">{{ icon('plus-circle fa-fw') }}{{ 'add incident'|trans }}
        <span class="tlp-green" id="tlp_label">&nbsp;</span>
    </h2>
{% endblock %}

{% block content_body %}
    {{ form_errors(form, { 'global_errors': true }) }}
    {{ form(form, {'attr': {'role':'form','id': 'add_update_form'},'method': method | default('post'),'style': 'horizontal', 'col_size': 'sm' }) }}
{% endblock %}


{% block sideBar_search_path %}{{ path('cert_unlp_ngen_internal_incident_search_incident') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentForm.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/Incident.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentApi.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/decision/IncidentDecisionApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incidentForm = new IncidentForm();
        var IncidentApi = new IncidentApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var incident_decision_api = new IncidentDecisionApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var Incident = new Incident();

    </script>
{% endblock %}