{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}

{% block content_body %}
    {% block incident_body %}
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Incident Information</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="">
                                Sistem Id
                            </td>
                            <td class="">
                                {{ object.id }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Host Address
                            </td>
                            <td class="">
                                {{ object.ip }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                State
                            </td>
                            <td class="">
                                {% include "CertUnlpNgenBundle:Incident:Frontend/list/stateLabel.html.twig" with {'incident': object} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Closed
                            </td>
                            <td class="">
                                {{ object.isClosed ? 'Yes':'No' }}
                            </td>
                        </tr>

                        <tr>
                            <td class="">
                                Type
                            </td>
                            <td class="">
                                {{ object.type }}
                            </td>
                        </tr>

                        <tr>
                            <td class="">
                                Feed
                            </td>
                            <td class="">
                                {{ object.feed }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                TLP
                            </td>
                            <td>
                                <span class="label tlp-{{ object.tlp|lower }} left">
                                    TLP-{{ object.tlp }}
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Date
                            </td>
                            <td class="">
                                {% include "CertUnlpNgenBundle:Incident:Frontend/dateLabel.html.twig" with {'incident': object,'lastTimeDetected': false} %}
                            </td>
                        </tr>
                        {% if object.lastTimeDetected %}
                            <tr>
                                <td class="">
                                    Last Time Detected
                                </td>
                                <td class="">
                                    {% include "CertUnlpNgenBundle:Incident:Frontend/dateLabel.html.twig" with {'incident': object, 'lastTimeDetected':true} %}
                                </td>
                            </tr>
                        {% endif %}

                        <tr>
                            <td class="">
                                Created at
                            </td>
                            <td class="">
                                {{ object.createdAt|date('Y-m-d') }}
                            </td>
                        </tr>

                        <tr>
                            <td class="">
                                Last Update
                            </td>
                            <td class="">
                                {{ object.lastTimeDetected|date('Y-m-d') }}
                            </td>
                        </tr>
                        {% if object.evidenceFilePath %}
                            <tr>
                                <td class="">
                                    Evidence File
                                </td>
                                <td class="">
                                    <a href="{{ path('cert_unlp_ngen_internal_incident_frontend_evidence_incident',{'slug':object.slug}) }}">Evidence
                                        (.zip)</a>
                                </td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block host_body %}
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Host info</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="">
                                ip
                            </td>
                            <td class="">
                                {{ object.origin.ipv4 }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Active
                            </td>
                            <td class="">
                                {{ object.origin.isActive ? 'Yes':'No' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Network Entity
                            </td>
                            <td class="">
                                {{ object.origin.network.networkEntity }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Network Admin
                            </td>
                            <td class="">
                                {{ object.origin.network.networkAdmin }}

                            </td>
                        </tr>
                        <tr>
                            <td class="">
                            </td>
                            <td class="">
                                {{ object.network.networkAdmin.emailsAsString }}

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block network_body %}
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Network info</h3>
                </div>
                <div class="panel-body table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="">
                                IP/mask
                            </td>
                            <td class="">
                                {{ object.network }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Active
                            </td>
                            <td class="">
                                {{ object.network.isActive ? 'Yes':'No' }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Network Entity
                            </td>
                            <td class="">
                                {{ object.network.networkEntity }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Network Admin
                            </td>
                            <td class="">
                                {{ object.network.networkAdmin }}

                            </td>
                        </tr>
                        <tr>
                            <td class="">
                            </td>
                            <td class="">
                                {{ object.network.networkAdmin.emailsAsString }}

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block reporter_body %}
        <div class="col-lg-6">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Reporter info</h3>
                </div>
                <div class="panel-body table-responsive">

                    <table class="table table-bordered">
                        <tr>
                            <td class="">
                                Name
                            </td>
                            <td class="">
                                {{ object.reporter }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                Email
                            </td>
                            <td class="">
                                {{ object.reporter.email }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block comments %}

        <div class="col-lg-12">
            <div class="row">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comments</h3>
                    </div>
                    <div class="panel-body">

                        {% block comments_body %}
                            {{ render(controller('CertUnlpNgenBundle:Frontend/Incident/IncidentFrontend:incidentComments', {'incident': object, 'request': app.request})) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
{% block javascripts %}

    {{ parent() }}
    <script>
        $(document).ready(function () {
            window.api_key = '{{ app.user.apikey }}';
        });
    </script>
    {% javascripts '@CertUnlpNgenBundle/Resources/public/js/incident/comments.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_internal_incident_search_incident') }}{% endblock %}

{% block content_header %}
    <h2 class="page-header">{{ icon('arrow-circle-down fa-fw') }}incident [ID: {{ object.id }}
        ][{{ object.type }}
        ]{% include "CertUnlpNgenBundle:Incident:Frontend/list/stateLabel.html.twig" with {'incident': object} %}</h2>
{% endblock %}


