{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h2 class="page-header">{{ icon('arrow-circle-down fa-fw') }}{{ 'Incident'|trans }} [{{ 'ID'|trans }}
        :{{ object.id }}
        ][{{ object.type }}] <a class="btn btn-sm btn-primary" role="button"
                                href="{{ path('cert_unlp_ngen_internal_incident_frontend_edit_incident_id',{'id': object.id}) }}"
                                title=" {{ 'Edit'|trans }}">
            {{ icon('edit') }}
        </a>
    </h2>
{% endblock %}

{% block content_body %}
    <div class="row">
        {% block incident_body %}
            <div class="col-lg-5">
                <div class="card mb-4">
                    <div class="card-header">
                        {{ "Incident Information"|trans }}
                    </div>
                    <div class="card-body">

                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Host/Network Involved'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.address }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'State'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {% include "CertUnlpNgenBundle:Incident:Frontend/list/stateLabel.html.twig" with {'incident': object} %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Type'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.type | trans }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'TLP'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                <span class="label tlp-{{ object.tlp|lower }} left">
                                    TLP-{{ object.tlp | trans }}
                                </span>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Created at'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.createdAt|date('Y-m-d H:i') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Original Date'| trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.date |date('Y-m-d H:i') }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Last Update'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.updatedAt |date('Y-m-d H:i') }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Priority Impact/Urgency' |trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.priority.impact }}/{{ object.priority.urgency }}
                            </div>
                        </div>
                        {% if object.incidentsDetected|length > 1 %}
                            <div class="row">
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Times Detected'|trans }}
                                </div>
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Detected'|trans }}{{ ' ' }}{{ label_info(object.incidentsDetected|length) }}{{ ' ' }}{{ 'times'|trans }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Last Time Detected'|trans }}
                                </div>
                                <div class="col-6 col-sm-6 border">
                                    {{ object.incidentsDetected|last.date|date('Y-m-d H:i') }}
                                </div>
                            </div>
                        {% endif %}


                        {% if object.evidenceFilePath %}

                            <div class="row">
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Evidence File'|trans }}
                                </div>
                                <div class="col-6 col-sm-6 border">
                                    <a href="{{ path('cert_unlp_ngen_internal_incident_frontend_evidence_incident',{'slug':object.slug}) }}">{{ 'Evidence'| trans }}
                                        (.zip)</a>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Response Time' |trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {% include "CertUnlpNgenBundle:Incident:Frontend/responseTimeLabel.html.twig" with {'incident': object,'alreadyDetected':object.incidentsDetected} %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Resolution Time' |trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {% include "CertUnlpNgenBundle:Incident:Frontend/resolutionTimeLabel.html.twig" with {'incident': object,'alreadyDetected':object.incidentsDetected} %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Unresponse State' |trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.unattendedState }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Unresolve State' |trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.unsolvedState }}
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        {% endblock %}
        <div class="col-lg-5">
            {% block host_body %}
                <div class="card mb-4">
                    <div class="card-header">
                        {{ "Host Information"|trans }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'ip'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.address }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Active'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.origin and object.origin.isActive ? 'Yes'|trans:'No'|trans }}

                            </div>
                        </div>
                        {% if object.origin and object.origin.network %}

                            <div class="row">
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Network Entity'|trans }}
                                </div>
                                <div class="col-6 col-sm-6 border">
                                    {{ object.origin.network.networkEntity }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Network Admin'|trans }}
                                </div>
                                <div class="col-6 col-sm-6 border">
                                    {{ object.origin.network.networkAdmin }}

                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endblock %}
            {% block network_body %}
                <div class="card mb-4">
                    <div class="card-header">
                        {{ "Network Information"|trans }}
                    </div>
                    <div class="card-body">
                        <div>
                            {% if object.network %}
                                <table class="table table-bordered">
                                    <div class="row">
                                        <div class="col-6 col-sm-6 border">
                                            {{ 'IP/mask'|trans }}
                                        </div>
                                        <div class="col-6 col-sm-6 border">
                                            {{ object.network }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 border">
                                            {{ 'Active'|trans }}
                                        </div>
                                        <div class="col-6 col-sm-6 border">
                                            {{ object.network.isActive ? 'Yes'|trans:'No'|trans }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 border">
                                            {{ 'Network Entity'|trans }}
                                        </div>
                                        <div class="col-6 col-sm-6 border">
                                            {{ object.network.networkEntity }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 border">
                                            {{ 'Network Admin'|trans }}
                                        </div>
                                        <div class="col-6 col-sm-6 border">
                                            {{ object.network.networkAdmin }}

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-6 col-sm-6 border">
                                        </div>
                                        <div class="col-6 col-sm-6 border">
                                            {{ object.network.networkAdmin? object.network.networkAdmin.emailsAsString: '' }}
                                        </div>
                                    </div>
                                </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            {% block reporter_body %}
                <div class="card mb-4">
                    <div class="card-header">
                        {{ "Reporter Information"|trans }}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Name'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.reporter }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 col-sm-6 border">
                                {{ 'Email'|trans }}
                            </div>
                            <div class="col-6 col-sm-6 border">
                                {{ object.reporter.emailsAsString }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock %}
        </div>
        <div class="col-lg-5">
            {% block asigned_body %}
                {% if object.assigned %}
                    <div class="card mb-4">
                        <div class="card-header">
                            {{ "Assigned Information"|trans }}
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Name'|trans }}
                                </div>
                                <div class="col-6 col-sm-6 border">
                                    {{ object.assigned }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6 col-sm-6 border">
                                    {{ 'Email'|trans }}
                                </div>
                                <div class="col-6 col-sm-6 border">
                                    {{ object.assigned.emailsAsString }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
    {% block redetected_body %}
        {% if object.incidentsDetected %}
            <div class="row">
                <div class="col-lg-10">
                    <div class="card mb-4">
                        <div class="card-header">
                            {{ "Historical Detections"|trans }}
                            {% if not object.incidentsDetected is empty %}
                                <span class="label label-warning"> {{ 'Detected'|trans }}{{ ' ' }}{{ label_info(object.incidentsDetected|length) }}{{ ' ' }}{{ 'times'|trans }}</span>
                                <span class="label label-warning"> {{ 'LAST:'|trans }}{{ object.incidentsDetected|last }}</span>
                            {% endif %}
                        </div>
                        <div class="card-body overflow-auto" style="max-height: 50vh">
                            {% include "@CertUnlpNgen/Incident/Frontend/redetectedTable.html.twig" with {'incident': object,'incidentsDetected':object.incidentsDetected} %}
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% endblock %}

    {% block state_history %}
        {% if object.getChangeStateHistory|length > 0 %}
            <div class="row">
                <div class="col-lg-10">
                    <div class="card mb-4">
                        <div class="card-header">
                            {{ 'Historical Status Changes'|trans }}{{ 'Detected'|trans }} {{ label_info(object.getChangeStateHistory|length) }} {{ 'changes'|trans }}
                        </div>
                        <div class="card-body overflow-auto" style="max-height: 50vh" >
                            {% include "CertUnlpNgenBundle:Incident:Frontend/historyChangeSummary.html.twig" with {'incident': object} %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endblock %}
    {% block comments %}
        <div class="row">
            <div class="col-lg-10">
                <div class="card mb-4">
                    <div class="card-header">
                        {{ 'Comments'|trans }}
                    </div>
                    <div class="card-body overflow-auto" style="max-height: 70vh" >
                        {% block comments_body %}
                            {{ render(controller('CertUnlpNgenBundle:Frontend/Incident/IncidentFrontend:incidentComments', {'incident': object, 'request': app.request})) }}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script>
            $(document).ready(function () {
                window.api_key = '{{ app.user.apikey }}';
            });
        </script>
        {% javascripts '@CertUnlpNgenBundle/Resources/public/js/incident/comments.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}

    {% block sideBar_search_path %}{{ path('cert_unlp_ngen_internal_incident_search_incident') }}{% endblock %}




