{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}

{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">
        {{ icon('plus-circle fa-fw') }}{{ 'add incident'|trans }}
        <span class="tlp-green" id="tlp_label">&nbsp;</span>
    </h1>
{% endblock %}

{% block content_body %}
    {% if (form is not null) %}

        {{ form_start(form,{'attr': {'role':'form','id': 'add_update_form'},'style': 'horizontal'}) }}
        {{ form_errors(form, { 'global_errors': true }) }}
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-1 pt-0">
                    {{ "Incident Filter"|trans }}
                    <div class="label label-info" id="incidentInfo"></div>
                </legend>
                {#                <div class="container row border border-primary rounded p-2">#}
                <div class="col-md-5">
                    {{ form_row(form.type) }}
                </div>
                <div class="col-md-5">
                    {{ form_row(form.address) }}
                </div>
                {#                </div>#}
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-1 pt-0">
                    {{ "Information"|trans }}</legend>
                <div class="col-md-3">
                    {{ form_row(form.feed) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.tlp) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.date) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-1 pt-0">
                    {{ "Attachment"|trans }}</legend>
                <div class="col-md-10">

                    {{ form_row(form.notes) }}
                    {{ form_row(form.evidence_file) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-1 pt-0">
                    {{ "Incident Properties"|trans }}</legend>
                <div class="col-sm-3">
                    {{ form_row(form.state) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.impact) }}
                </div>
                <div class="col-sm-3">
                    {{ form_row(form.urgency) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-1 pt-0">{{ "User Information"|trans }}</legend>
                <div class="col-sm-5">
                    {{ form_row(form.assigned) }}
                </div>
                <div class="col-sm-5">
                    {{ form_row(form.reporter) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-md-1 pt-0">{{ "Actions"|trans }}</legend>
                <div class="col-sm-10">
                    {{ form_row(form.notSendReport) }}
                    <div class="row">
                        <div class="col-sm-7">
                            {{ form_row(form.unattendedState) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.responseDeadLine) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            {{ form_row(form.unsolvedState) }}
                        </div>
                        <div class="col-sm-3">
                            {{ form_row(form.solveDeadLine) }}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="form-group">
            <div class="row d-flex justify-content-center">
            <div class="col-sm-10">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_internal_incident_search_incident') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentForm.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/Incident.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentApi.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/decision/IncidentDecisionApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incidentForm = new IncidentForm();
        var IncidentApi = new IncidentApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var incident_decision_api = new IncidentDecisionApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var Incident = new Incident();

    </script>
{% endblock %}