{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Incident/Frontend/frontend.html.twig' %}

{% block content_header %}
    <h2 class="page-header">{{ icon('plus-circle fa-fw') }}{{ 'add incident'|trans }}
        <span class="tlp-green" id="tlp_label">&nbsp;</span>
    </h2>
{% endblock %}

{% block content_body %}
    {% if (form is not null) %}
        {{ form_start(form,{'attr': {'role':'form','id': 'add_update_form'},'method': method | default('post'),'style': 'horizontal'}) }}
        {{ form_errors(form, { 'global_errors': true }) }}

        <fieldset class="form-group row">
            <div class="container row border border-primary rounded p-2">
                <legend class="col-form-label col-sm-2 pt-5">{{ "Incident Filter"|trans }}</legend>
                <div class="col-sm-10">
                    {{ form_row(form.type) }}
                    {{ form_row(form.address) }}
                </div>
            </div>
        </fieldset>

        <fieldset class="form-group row">
            <div class="container row border border-primary rounded p-2">
                <legend class="col-form-label col-sm-2 pt-5">{{ "Information"|trans }}</legend>
                <div class="col-sm-10">
                    {{ form_row(form.feed) }}
                    {{ form_row(form.date) }}
                    {{ form_row(form.notes) }}
                    {{ form_row(form.evidence_file) }}
                    {{ form_row(form.tlp) }}
                </div>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <div class="container row border border-primary rounded p-2">
                <legend class="col-form-label col-sm-2 pt-5">{{ "Incident Properties"|trans }}</legend>
                <div class="col-sm-10">
                    {{ form_row(form.state) }}
                    {{ form_row(form.impact) }}
                    {{ form_row(form.urgency) }}
                    {{ form_row(form.assigned) }}

                </div>
            </div>
        </fieldset>
        <fieldset class="form-group row">
            <div class="container row border border-primary rounded p-2">
                <legend class="col-form-label col-sm-2 pt-2">{{ "Actions"|trans }}</legend>
                <div class="col-sm-10">
                    {{ form_row(form.sendReport) }}
                    <div class="row">
                        <div class="col-sm-7">
                        {{ form_row(form.unattendedState) }}
                        </div>
                        <div class="col-sm-3">
                        {{ 'Time to change state:' }} <div id="timeToAttend" name="timeToAttend">--</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-7">
                            {{ form_row(form.unsolvedState) }}
                        </div>
                        <div class="col-sm-3">
                            {{ 'Time to change state:' }} <div id="timeToSolve" name="timeToSolve">--</div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="container row ">
            <div class="col-sm-12">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}


    {% endif %}

{% endblock %}


{% block sideBar_search_path %}{{ path('cert_unlp_ngen_internal_incident_search_incident') }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentForm.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/Incident.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/IncidentApi.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/decision/IncidentDecisionApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incidentForm = new IncidentForm();
        var IncidentApi = new IncidentApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var incident_decision_api = new IncidentDecisionApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
        var Incident = new Incident();

    </script>
{% endblock %}