{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% if not incident.incidentsDetected is empty%}
        <span class="label label-warning"> {{  'Detected '|trans}}{{ incident.FincidentsDetected|length }}{{ ' times'|trans}}</span>
        <span class="label label-warning"> {{  'LAST: '|trans}}{{ incident.incidentsDetected|last }}</span>

{% endif %}
