{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% if not incident.lastTimeDetected is empty%}
    <span class="label label-warning">{{ 'FIRST'| trans }} {{ incident.date | date('Y-m-d H:i') }} </span>
    {% for lastTimeDetected in incident.lastTimeDetected %} %}
    <span class="label label-warning">{{ 'td'|trans }} {{ lastTimeDetected.date | date('Y-m-d H:i') }}-{{ lastTimeDetected.feed  }}</span>
    {% endfor %}
{% endif %}
