{#
This file is part of the Ngen - CSIRT Incident Report System.

(c) CERT UNLP <support@cert.unlp.edu.ar>

This source file is subject to the GPL v3.0 license that is bundled
with this source code in the file LICENSE.
#}
{# <div class="card shadow mb-4"> #}
{# <div class="card-header"> #}
{# <h6 class="m-0 font-weight-bold text-primary"> #}
{# {{ 'Messages'|trans }} #}
{# </h6> #}

{# </div> #}
{# <div class="card-body overflow-auto" style="max-height: 70vh"> #}
<div id="accordion" role="tablist" aria-multiselectable="true">
    <div class="card">
        <h6 class="card-header m-0 font-weight-bold text-primary" role="tab"
            id="heading{{ message.id }}{{ message.id }}">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ message.id }}{{ message.id }}"
               aria-expanded="true"
               aria-controls="collapse{{ message.id }}{{ message.id }}" class="collapsed d-block">
                <i class="fa fa-chevron-down pull-right"></i> Responses {{ message }}
            </a>
        </h6>
        <div id="collapse{{ message.id }}{{ message.id }}" class="collapse" role="tabpanel"
             aria-labelledby="heading{{ message.id }}{{ message.id }}">
            <div class="card-body">
                <table class="table  table-hover dataTable no-footer">
                    <tr role="row">
                        <th>{{ 'Date'|trans }}</th>
                        <th class="text-right">{{ 'Success'|trans }}</th>
                        {# <th>{{ 'Data'|trans }}</th> #}
                    </tr>
                    <tbody>
                    {% for response in message.response %}
                        <tr class="collapsed" data-toggle="collapse" data-parent="#accordion"
                            data-target="#collapse{{ message.id }}{{ response['date'] }}"
                            aria-controls="collapse{{ message.id }}{{ message.id }}">
                            <td>
                                {{ response['date'] |date('Y-m-d H:i') }}
                            </td>
                            <td class="text-right">
                                <button class="btn btn-{{ response['success']?'success':'danger' }} btn-circle btn-sm ">
                                    <i class="fas fa-{{ response['success']?'check':'exclamation' }}"></i>
                                </button>
                            </td>
                        </tr>
                        <tr id="collapse{{ message.id }}{{ response['date'] }}" class="collapse">
                            <td>
                                {{ response['data'] | json_encode(constant('JSON_PRETTY_PRINT')) }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

