{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<table class="table  table-hover dataTable no-footer">
    <tr role="row">
        <th>{{ 'Feed'|trans }}</th>
        <th>{{ 'State'|trans }}</th>
        <th>{{ 'TLP'|trans }}</th>
        <th>{{ 'Date'|trans }}</th>
        <th>{{ 'Notes'|trans }}</th>
        <th>{{ 'Evidence'|trans }}</th>
    </tr>
    <tbody>
    {% for incidentDetected in incidentsDetected %}
        <tr role="row" data-id="{{ incidentDetected.id }}">
            <td>{{ incidentDetected.feed | trans }}</td>
            <td>{{ incidentDetected.state | trans }}</td>
            <td>{{ incidentDetected.tlp | trans }}</td>
            <td>{{ incidentDetected.date | date('Y-m-d H:i') }}</td>
            <td>{{ incidentDetected.notes| trans }}</td>
            <td class="">
                {% if incidentDetected.EvidenceFilePath %}
                    <a href="{{ path('cert_unlp_ngen_incident_frontend_evidence_incident_detected_id',{'id':incidentDetected.id}) }}">{{ 'Download'|trans }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
