{#
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

 {% if not incident.isNew %}
     {% if not incident.isClosed %}
         {% if incident.resolutionDelayedMinutes > 0 %}
             <span class="label label-success"> {{ 'Waiting for resolution'|trans }} {{ incident.resolutionDelayedMinutes }}{{ 'minutes left'|trans }}</span>
         {% else %}
             <span class="label label-danger"> {{ 'Resolution delayed for'|trans }}{{ incident.resolutionDelayedMinutes * -1 }}{{ 'minutes'|trans }}</span>
         {% endif %}
     {% else %}
         {% if incident.resolutionDelayedMinutes > 0 %}
             <span class="label label-success"> {{ 'Resolved on time'|trans }} {{ incident.resolutionDelayedMinutes }}{{ 'minutes left'|trans }}</span>
         {% else %}
             <span class="label label-danger"> {{ 'Resolution delayed for'|trans }}{{ incident.resolutionDelayedMinutes * -1 }}{{ 'minutes'|trans }}</span>
         {% endif %}

     {% endif %}
 {% endif %}