{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{icon('exclamation-circle fa-fw')}} Incidents</h1>
{% endblock %}

{% block sideBar_search_path %}{{path('cert_unlp_ngen_incident_search_incident')}}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:Incident:Frontend/list/incidentList.html.twig' with {'incident': incidents} %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@CertUnlpNgenBundle/Resources/public/js/incident/*'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        var incident = new Incident("{{path("api_1_get")}}/", "{{app.user.apiKey}}");
    </script>
{% endblock %}