{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">{{ icon('fas fa-laptop') }} {{ 'Dashboards'|trans }}</h1>
{% endblock %}

{% block sideBar_search_path %}{% endblock %}

{% block content_body %}
    <div id="internaliframe" style="height: 100%; border: none" class="embed-container">
        <iframe src="" width="100%" style="position: absolute; height: 100%; border: none" height="100%" frameborder="0" allowfullscreen id="dashboard"></iframe>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('#content-wrapper').css('overflow', 'hidden');
        $.ajaxSetup({
                username: 'user',
                password: '{{ app.user.apiKey }}',
                xhrFields: { withCredentials: true }
        });
        $.ajax(
            {
                xhrFields: { withCredentials: true },
                type: 'GET',
                url: "/grafana/{{ dashboard }}",
                contentType: 'application/json',
                success: function(data){
                    var iframeDoc = $("#dashboard").get(0).contentDocument;
                    iframeDoc.open();
                    iframeDoc.write(data);
                    iframeDoc.close();
                    $('#internaliframe').html('<iframe src="/grafana/{{ dashboard }}" style="position:absolute;" height="100%" width="100%" frameborder="0" allowfullscreen scrolling="no" id="dashboard"></iframe>');
                }
            }
        );

    </script>
{% endblock %}

