{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ incidentTaxonomyValue.slug }}">
    <td class="align-middle">
        {{ incidentTaxonomyValue.expanded }}
    </td>
    <td class="align-middle">
        {{ incidentTaxonomyValue.description | default('No description')| trans }}
    </td>
    <td class="align-middle">
        {{ incidentTaxonomyValue.predicate }}
    </td>
    <td class="align-middle">
        {{ incidentTaxonomyValue.Reports.count() }}
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {% include "CertUnlpNgenBundle:IncidentTaxonomyValues:Frontend/list/stateLabel.html.twig" with {'incidentTaxonomyValue': incidentTaxonomyValue} %}
        </div>
    </td>
    <td class="align-middle">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':incidentTaxonomyValue , 'detail_link': path('cert_unlp_ngen_taxonomy_value_detail',{ 'slug': incidentTaxonomyValue.slug})} %}
    </td>
</tr>