{#
 This file is part of the Ngen - CSIRT Incident Report System.

 (c) CERT UNLP <support@cert.unlp.edu.ar>

 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ IncidentPriority.id }}">
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':IncidentPriority , 'detail_link': path('cert_unlp_ngen_incident_priority_detail',{'id': IncidentPriority.id}),'edit_link': path('cert_unlp_ngen_incident_priority_edit',{'id': IncidentPriority.id})} %}
    </td>
    <td id="state_label_holder" class="text-center">
        {{ print.statusdropbox(IncidentPriority) }}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentPriority.impact.color,IncidentPriority.impact.icon,IncidentPriority.impact,'#',IncidentPriority.impact) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentPriority.urgency.color,IncidentPriority.urgency.icon,IncidentPriority.urgency,'#',IncidentPriority.urgency) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentPriority.color,IncidentPriority.icon,IncidentPriority.name,'#',IncidentPriority.name) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox('primary','hashtag',IncidentPriority.responseTime,'#',IncidentPriority.responseTime) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox('primary','hashtag',IncidentPriority.unresponseTime,'#',IncidentPriority.unresponseTime) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox('primary','hashtag',IncidentPriority.solveTime,'#',IncidentPriority.solveTime) }}
        </div>

    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox('primary','hashtag',IncidentPriority.unsolveTime,'#',IncidentPriority.unsolveTime) }}
        </div>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',IncidentPriority.createdAt|date('Y-m-d'),'#',IncidentPriority.createdAt|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',IncidentPriority.updatedAt|date('Y-m-d'),'#',IncidentPriority.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
</tr>