{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ IncidentPriority.slug }}">

    <td id="priority_label_holder" class="col-md-1">
        <div class="label-holder">
            {{ IncidentPriority.code }}
        </div>
    </td>
    <td id="priority_label_holder" class="col-md-1">
        <div class="label-holder">
            {{ IncidentPriority.name }}
        </div>
    </td>
    <td id="priority_label_holder" class="col-md-1">
        <div class="label-holder">
            {{ IncidentPriority.impact }}
        </div>
    </td>
    <td id="priority_label_holder" class="col-md-1">
        <div class="label-holder">
            {{ IncidentPriority.urgency }}
        </div>
    </td>
    <td id="priority_label_holder" class="col-md-1">
        <div class="label-holder">
            {{ IncidentPriority.responseTime }}
        </div>
    </td>
    <td id="priority_label_holder" class="col-md-1">
        <div class="label-holder">
            {{ IncidentPriority.resolutionTime }}
        </div>
    </td>
    <td id="state_label_holder" class="col-md-1">
        <div class="label-holder">
            {% include "CertUnlpNgenBundle:IncidentPriority:Frontend/list/incidentPriorityLabel.html.twig" with {'incidentPriority': IncidentPriority} %}
        </div>
    </td>
    <td class="col-sm-1">

        <div class="btn-group inline pull-left dropdown action-dropdown">
            <a class="btn btn-sm btn-primary" role="button"
               href="{{ path('cert_unlp_ngen_incident_priority_detail',{'id': IncidentPriority.id}) }}">
                Details
            </a>
            <button class="btn btn-sm btn-primary ladda-button dropdown-toggle" data-style="slide-down" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       href="{{ path('cert_unlp_ngen_incident_priority_edit',{'id': IncidentPriority.id}) }}">{{ icon('edit alert-info') }}
                        <span class="action-text">Edit</span></a>
                </li>

                <li role="presentation">
                    <a {% if IncidentPriority.isActive %}style="display: none;"{% endif %} class="state-label"
                       data-action="reactivate" data-state-slug="active" data-state-name="active" role="menuitem"
                       tabindex="-1" href="#">{{ icon('repeat alert-info') }} <span
                                class="action-text">Reactivate</span></a>
                </li>

                <li role="presentation">
                    <a {% if not IncidentPriority.isActive %}style="display: none;"{% endif %} class="state-label"
                       data-action="desactivate" data-state-slug="innactive" data-state-name="innactive" role="menuitem"
                       tabindex="-1" href="#">{{ icon('lock alert-success') }} <span
                                class="action-text">Desactivate</span></a>
                </li>
            </ul>
        </div>
    </td>
</tr>