{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ IncidentPriority.id }}">

    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.code }}
        </div>
    </td>
    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.name |trans }}
        </div>
    </td>
    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.impact |trans }}
        </div>
    </td>
    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.urgency |trans }}
        </div>
    </td>
    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.responseTime }}
        </div>
    </td>
    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.unresponseTime }}
        </div>
    </td>
    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.resolutionTime }}
        </div>
    </td>
    <td id="priority_label_holder" class="align-middle">
        <div>
            {{ IncidentPriority.unresolutionTime }}
        </div>
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {% include "CertUnlpNgenBundle:IncidentPriority:Frontend/list/incidentPriorityLabel.html.twig" with {'incidentPriority': IncidentPriority} %}
        </div>
    </td>
    <td class="align-middle">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':IncidentPriority , 'detail_link': path('cert_unlp_ngen_incident_priority_detail',{'id': IncidentPriority.id}),'edit_link': path('cert_unlp_ngen_incident_priority_edit',{'id': IncidentPriority.id})} %}
    </td>
</tr>