{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{ 'Hosts'|trans }}{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{ icon('unlock-alt fa-fw') }} {{ 'Hosts'|trans }}</h1>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_host_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:Host:Frontend/list/hostList.html.twig' with {'Hosts': objects  } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {#{% javascripts#}
    {#'@CertUnlpNgenBundle/Resources/public/js/incident/host/Host.js'#}
    {#'@CertUnlpNgenBundle/Resources/public/js/incident/host/HostApi.js' %}#}
    {#<script src="{{ asset_url }}"></script>#}
    {#{% endjavascripts %}#}
    {#<script>#}
    {#var host = new Host();#}
    {#var host_api = new HostApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");#}
    {#</script>#}
{% endblock %}
