{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{ 'Hosts'|trans }}{% endblock %}

{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">{{ icon('fas fa-laptop') }} {{ 'Hosts'|trans }}</h1>
    <a href="{{ path('cert_unlp_ngen_host_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle fa-sm text-white-50"></i>{{ 'add Network'|trans }} </a>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_host_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:Host:Frontend/list/hostList.html.twig' with {'Hosts': objects  } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}
{% endblock %}
