<ul class="nav navbar-top-links navbar-right">
    <!-- /.dropdown -->
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
            {{icon('caret-down') }}{{ icon('user fa-fw') }}{{app.user.username}}        
        </a>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li>
                <a href="{{path('fos_user_change_password')}}">{{ icon('key fa-fw') }} Change password</a>
            </li>
            <li>
                <a href="{{path('fos_user_profile_show')}}">{{ icon('user fa-fw') }} Profile</a>
            </li>
            <li class="divider"></li>
            </li>
            <li>
                <a href="{{path('fos_user_security_logout')}}">{{ icon('sign-out fa-fw') }} Logout</a>
            </li>
        </ul>
        <!-- /.dropdown-user -->
    </li>
    <!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->