{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}Incident Feeds{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{ icon('feed fa-fw') }} Incident Feeds</h1>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_incident_feed_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:IncidentFeed:Frontend/list/incidentFeedList.html.twig' with {'incidentFeeds': objects  } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/feed/IncidentFeed.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/feed/IncidentFeedApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incident_feed = new IncidentFeed();
        var incident_feed_api = new IncidentFeedApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}
