{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::IncidentFeed/Frontend/frontend.html.twig' %}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}
{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">
        {{ icon(object.icon ~' fa-fw text-'~object.color) }}
        {{ object }}
        {{ print.colorbox('primary','id-card',object.id,'#') }}
        {{ print.statusbox(object) }}
        {{ print.colorbox('primary','arrow-circle-down','incidents '~object.incidents.count,path('cert_unlp_ngen_internal_incident_search_incident',{'term': '"'~object.slug~'"'})) }}
        {{ print.colorbox('primary','edit','Edit',path('cert_unlp_ngen_incident_feed_edit',{'slug': object.slug})) }}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Feed Information'|trans }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ "System Id"|trans }}
                                </td>
                                <td class="">
                                    {{ object.slug }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Name'|trans }}
                                </td>
                                <td class="">
                                    {{ object.name }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ "Description"|trans }}
                                </td>
                                <td class="">
                                    {{ object.description }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Created at'|trans }}
                                </td>
                                <td class="">
                                    {{ object.createdAt|date('Y-m-d') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'Last Update'|trans }}
                                </td>
                                <td class="">
                                    {{ object.updatedAt|date('Y-m-d') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}