{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}Networks{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{icon('share-alt fa-fw')}} Networks</h1>
{% endblock %}

{% block sideBar_search_path %}{{path('cert_unlp_ngen_network_frontend_home')}}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:Network:Frontend/list/networkList.html.twig' with {'networks': objects} %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@CertUnlpNgenBundle/Resources/public/js/network/Network.js'
    '@CertUnlpNgenBundle/Resources/public/js/network/NetworkApi.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var network = new Network();
        var network_api = new NetworkApi("{{path("api_1_get")}}/", "{{app.user.apiKey}}");
    </script>
{% endblock %}
