{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{ 'Networks'|trans }}{% endblock %}

{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">{{ icon('share-alt fa-fw') }} {{ 'Networks'|trans }}</h1>
    <a href="{{ path('cert_unlp_ngen_network_new_network') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle fa-sm text-white-50"></i>{{ 'add Network'|trans }} </a>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_network_frontend_home') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:Network:Frontend/list/networkList.html.twig' with {'networks': objects} %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/network/Network.js'
        '@CertUnlpNgenBundle/Resources/public/js/network/NetworkApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var network = new Network();
        var network_api = new NetworkApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}
