{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Network/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h1 class="page-header"> {{ object }}
        {% include "CertUnlpNgenBundle:Network:Frontend/list/stateLabel.html.twig" with {'network': object} %}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Network Information'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ "System Id"|trans }}
                                </td>
                                <td class="">
                                    {{ object.id }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Ip/Mask'|trans }}
                                </td>
                                <td class="">
                                    {{ object.addressAndMask }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Created at'|trans }}
                                </td>
                                <td class="">
                                    {{ object.createdAt|date('Y-m-d') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'Last Update'|trans }}
                                </td>
                                <td class="">
                                    {{ object.updatedAt|date('Y-m-d') }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Active'|trans }}
                                </td>
                                <td class="">
                                    {% include "CertUnlpNgenBundle:Network:Frontend/list/stateLabel.html.twig" with {'network': object} %}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Incidents'|trans }}
                                </td>
                                <td class="">
                                    <a target="_blank" class="btn btn-sm btn-primary" role="button"
                                       href="{{ path('cert_unlp_ngen_internal_incident_search_incident',{'term': '"'~object.address~'"'~ "&&" ~'"'~object.addressMask~'"'}) }}">
                                        <span>{{ label_info(object.incidents.count) }} </span>
                                        <span>{{ 'search'|trans }}</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Network Entity Information'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ 'Name'|trans }}
                                </td>
                                <td class="">
                                    {{ object.networkEntity }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'Network Admin Information'|trans }}</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ 'Name'|trans }}
                                </td>
                                <td class="">
                                    {{ object.networkAdmin }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Email'|trans }}
                                </td>
                                <td class="">
                                    {{ object.networkAdmin.emailsAsString }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}