{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::Network/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h1 class="page-header"> {{network}}             {%include "CertUnlpNgenBundle:Network:Frontend/list/stateLabel.html.twig" with {'network': network}%}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Network Information</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    Sistem Id
                                </td>
                                <td class="">
                                    {{network.id}}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Ip/Mask
                                </td>
                                <td class="">
                                    {{network.ipAndMask}}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Created at 
                                </td>
                                <td class="">
                                    {{network.createdAt|date('Y-m-d')}}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    Last Update
                                </td>
                                <td class="">
                                    {{network.updatedAt|date('Y-m-d')}}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Active
                                </td>
                                <td class="">
                                    {%include "CertUnlpNgenBundle:Network:Frontend/list/stateLabel.html.twig" with {'network': network}%}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Incidents
                                </td>
                                <td class="">
                                    <a target="_blank" class="btn btn-sm btn-primary" role="button" href="{{path('cert_unlp_ngen_incident_search_incident',{'term': '"'~network.ip~'"'~ "&&" ~'"'~network.ipMask~'"'})}}">
                                        <span>{{label_info(network.incidents.count)}} </span>
                                        <span>search</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Academic Unit Information</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    Name
                                </td>
                                <td class="">
                                    {{network.academicUnit}}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Incidents
                                </td>
                                <td class="">
                                    <a  target="_blank" class="btn btn-sm btn-primary" role="button" href="{{path('cert_unlp_ngen_incident_search_incident',{'term': '"'~network.academicUnit.name~'"'})}}">
                                        <span>{{label_info(network.academicUnit.incidents.count)}} </span>
                                        <span>search</span>
                                    </a>
                                </td>

                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Network Admin Information</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    Name
                                </td>
                                <td class="">
                                    {{network.networkAdmin}}

                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Email
                                </td>
                                <td class="">
                                    {{network.networkAdmin.email}}

                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    Incidents
                                </td>
                                <td class="">
                                    <a target="_blank" class="btn btn-sm btn-primary" role="button" href="{{path('cert_unlp_ngen_incident_search_incident',{'term': '"'~network.networkAdmin.name~'"'~ "&&" ~'"'~network.networkAdmin.email~'"'})}}">
                                        <span>{{label_info(network.networkAdmin.incidents.count)}} </span>
                                        <span>search</span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}