{# 
 This file is part of the Ngen - CSIRT NetworkAdmin Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{#{% block ContactType_label %} {% endblock %}#}

{% block ContactType_widget %}
   <fieldset class="fieldset-contact col-sm-10" >
    <div class="row">
        <div class="col-md-3">
            {{ form_widget(form.name) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.contact_type) }}
        </div>
        <div class="col-md-4">
        {{ form_widget(form.username) }}
        </div>
        <div class="col-md-2">
            {{ form_widget(form.contact_case) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
                {{ form_widget(form.encryptionKey) }}
        </div>
        <div class="col-md-1">
            <a href="#" class="collection-remove btn btn-default" title="Delete"><span
                        class="fas fa-trash text-danger"></span></a>
        </div>
    </div>
    </fieldset>
{% endblock %}

