{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{ 'Network Admins'|trans }}{% endblock %}
    {% block content_header %}
        <h1 class="h3 mb-0 text-gray-800">{{ icon('users fa-fw') }} {{ 'Network Admins'|trans }}</h1>
        <a href="{{ path('cert_unlp_ngen_incident_state_new') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus-circle fa-sm text-white-50"></i>{{ 'add Admin'|trans }} </a>

    {% endblock %}


{% block sideBar_search_path %}{{ path('cert_unlp_ngen_network_search_network_admin') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:NetworkAdmin:Frontend/list/networkAdminList.html.twig' with {'networkAdmins': objects  } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/network_admin/NetworkAdmin.js'
        '@CertUnlpNgenBundle/Resources/public/js/network_admin/NetworkAdminApi.js' %}
        <script src="{{ asset('js/jquery.collection.js') }}"></script>
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var network_admin = new NetworkAdmin();
        var network_admin_api = new NetworkAdminApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}
