{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::NetworkAdmin/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h1 class="page-header">{{ icon('plus-circle fa-fw') }}Add Network Admin</h1>
{% endblock %}
{% block content_body %}
    {% if (form is not null) %}
        {{ form_errors(form, { 'global_errors': true }) }}
        {{ form(form, {'attr': {'id': 'add_update_form'},'method': method | default('post'),'style': 'horizontal', 'col_size': 'sm' }) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/network_admin/NetworkAdminForm.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var network_admin_form = new NetworkAdminForm();
    </script>
{% endblock %}