{# 
 This file is part of the Ngen - CSIRT User Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}Users{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{icon('user fa-fw')}} Users</h1>
{% endblock %}

{% block sideBar_search_path %}{{path('cert_unlp_ngen_user_search_user')}}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:User:Frontend/list/userList.html.twig' with {'users': objects} %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '@CertUnlpNgenBundle/Resources/public/js/user/User.js'
    '@CertUnlpNgenBundle/Resources/public/js/user/UserApi.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var user = new User();
        var user_api = new UserApi("{{path("api_1_get")}}/", "{{app.user.apiKey}}");
    </script>
{% endblock %}
