{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::User/Frontend/frontend.html.twig' %}
{% block content_header %}
    <h1 class="page-header">{{ icon('plus-circle fa-fw') }}{{ 'add user'|trans }}</h1>
{% endblock %}
{% block content_body %}
    <div id="error">
    </div>
    {% if (form is not null) %}
        {% form_theme form
            'jquery.collection.html.twig'
            'CertUnlpNgenBundle:NetworkAdmin/Frontend:contacts.html.twig' %}
        {{ form(form, {'attr': {'id': 'add_update_form'},'method': method | default('post'),'style': 'horizontal', 'col_size': 'sm' }) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/user/UserForm.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var user_form = new UserForm();
        $('.user-contacts').collection({
                min: 1
            }
        );
    </script>
{% endblock %}