{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<div class="card shadow mb-4">
<div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">
        <strong>{{ 'Showing'|trans }}</strong>
        <strong>({{ objects.getPaginationData.lastItemNumber~"/"~objects.getTotalItemCount }})</strong>
    </h6>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table id="tabla_hosts" class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
        <tr role="row">
            <th>{{ knp_pagination_sortable(Hosts, 'Address'|trans , 'ip') }}</th>
            <th>{{ knp_pagination_sortable(Hosts, 'Network'|trans, 'network.ip') }}</th>
            <th>{{ knp_pagination_sortable(Hosts, 'Active'|trans, 'isActive') }}</th>
            <th>{{ 'Action'|trans }}</th>
        </tr>
            </thead>
        <tbody>
        {% for Host in Hosts %}
            {% include 'CertUnlpNgenBundle:Host:Frontend/list/hostListRow.html.twig' with {'Host': Host} %}
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
</div>
<div class="pagination justify-content-center">
    {{ knp_pagination_render(Hosts, null, {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
</div>

