{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ host.id }}">
    <td>
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':host , 'detail_link': path('cert_unlp_ngen_host_detail',{'id': host.id}),'edit_link':path('cert_unlp_ngen_host_edit',{'id': host.id})} %}
    </td>
    <td id="host_label_holder" class="text-center">
        <div class="float-left">
        {{ print.colorbox(host.color,host.icon,host.address,'#',host.address) }}
        </div>
    </td>
    <td id="state_label_holder" class="text-center">
            {{ print.statuscolor(host) }}
    </td>
    <td id="host_label_holder" class="text-center">
        <div class="float-left">
            {% if host.network %}
                {% set detail_link %}
                    {% include '@CertUnlpNgen/Network/Frontend/list/networkLink.html.twig' with {'action':'detail','network':host.network} %}
                {% endset %}
                {{ print.colordropbox(host.network.color,host.network.icon,host.network,detail_link,host.network.id) }}
            {% else %}
                {{ "Empty" | trans }}
            {% endif %}
        </div>
    </td>
    <td class="text-center">
        <small>
            {{ print.colorbox('primary','calendar-alt',host.createdAt|date('Y-m-d'),'#',host.createdAt|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        <small>
            {{ print.colorbox('primary','calendar-alt',host.updatedAt|date('Y-m-d'),'#',host.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
</tr>