{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% include 'CertUnlpNgenBundle:InternalIncident:Report/Twig/BaseReport/head.html.twig' %}
<table class="row">
    <tr>
        <td class="wrapper last">
            <table class="twelve columns">
                <tr>
                    <td>
                        {% block greeting %}
                            {% include 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/headerReport.html.twig' %}
                        {% endblock %}
                        {{block('problem')}}
                    </td>
                    <td class="expander"></td>
                </tr>
                {% block derivated_problem %}
                    <tr>
                        <td>
                            {{block('derivated_problem_content')}}
                        </td>
                        <td class="expander"></td>
                    </tr>
                {% endblock %}
                {% block verification %}
                    <tr>
                        <td>
                            {{block('verification_content')}}
                        </td>
                        <td class="expander"></td>
                    </tr>
                {% endblock %}
                {% block recomendations %}
                    <tr>
                        <td>
                            {{block('recomendations_content')}}
                        </td>
                        <td class="expander"></td>
                    </tr>
                {% endblock %}
                {% block more_information %}
                    <tr>
                        <td>
                            {{block('more_information_content')}}
                        </td>
                        <td class="expander"></td>
                    </tr>
                {% endblock %}
            </table>

        </td>
    </tr>
</table>

{% include 'CertUnlpNgenBundle:ExternalIncident:Report/Twig/BaseReport/foot.html.twig' with { 'incident': incident }%}