
{% import _self as formMacros %}
{% macro printPhaseRow(phaseForm) %}
    <div class="js-phase-item p-2 mb-2 border">
        {{ form_errors(phaseForm) }}
        <div class="row ml-2">
            <div class="col">
                {{ form_row(phaseForm.name) }}
            </div>
            <div class="col">
                {{ form_row(phaseForm.description) }}
            </div>
            <div class="col">
                <a href="#" class="js-remove-phase pull-right btn btn-danger mt-4">
                    <i class="fas fa-trash-alt text-white"></i>
                </a>
            </div>
        </div>
        <div class="ml-2">
            <h4 class="mb-2">Tasks</h4>
            {{ include('CertUnlpNgenBundle:Playbook/Frontend:playbookTask.html.twig') }}
        <div>
    </div>
{% endmacro %}
    <div class="js-phase-wrapper"
        data-prototype="{{ formMacros.printPhaseRow(form.phases.vars.prototype)|e('html_attr') }}"
        data-index="{{ form.phases|length }}"
    >
        <a href="#" class="js-phase-add font-weight-bold btn btn-primary mt-auto">
            <i class="fa fa-plus-circle"></i> Add phase
        </a>
    </div>  

