
{% import _self as formMacros %}
{% macro printTaskRow(taskForm) %}
    <div class="js-task-item p-2 mb-2 border">
        {{ form_errors(taskForm) }}
        <div class="row ml-2">
            <div class="col">
                {{ form_row(taskForm.name) }}
            </div>
            <div class="col">
                {{ form_row(taskForm.description) }}
            </div>
            <div class="col">
                {{ form_row(taskForm.suggested_time) }}
            </div>
            <div class="col">
                <a href="#" class="js-remove-task pull-right btn btn-danger mt-4">
                    <i class="fas fa-trash-alt text-white"></i>
                </a>
            </div>
        </div>
    </div>
{% endmacro %}
    <div class="js-task-wrapper"
        data-prototype="{{ formMacros.printTaskRow(phaseForm.tasks.vars.prototype)|e('html_attr') }}"
        data-index="{{ phaseForm.tasks|length }}"
    >
        <a href="#" class="js-task-add font-weight-bold btn btn-primary mt-auto">
            <i class="fa fa-plus-circle"></i> Add task
        </a>
    </div>   

{# {% block javascripts %}
    {% javascripts '@CertUnlpNgenBundle/Resources/public/js/playbook/Task.js'%}
        <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
    
{% endblock %} #}

<script>
jQuery(document).ready(function() {
    $("#nuevito").css({'color':'red'});
    var $wrapper = $('.js-task-wrapper');
    $wrapper.on('click', '.js-remove-task', function(e) {
        e.preventDefault();
        $(this).closest('.js-task-item')
            .fadeOut()
            .remove();
    });
    $wrapper.on('click', '.js-task-add', function(e) {
        e.preventDefault();
        // Get the data-prototype explained earlier
        var prototype = $wrapper.data('prototype');
        // get the new index
        var index = $wrapper.data('index');
        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        var newForm = prototype.replace(/__name__/g, index);
        // increase the index with one for the next item
        $wrapper.data('index', index + 1);
        // Display the form in the page before the "new" link
        $(this).before(newForm);
    });
});
</script>