{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<div class="mx-2 my-3">
{% for phase in phases %}
        <div class="my-3">
            <a class="btn btn-primary font-weight-bold font-italic ml-1" data-toggle="collapse" href="#collapse_{{phase.id}}">
                <i class="fas fa-list-alt font-weight-bold text-white"></i> {{ phase.name | trans}}
            </a>
        <div>
        <div class="collapse border my-3 ml-1" id="collapse_{{phase.id}}">
            <div class="mx-2 my-3">
                <span class="font-weight-bold font-italic mr-1">{{ 'Description'|trans }}</span>
                <span>{{ phase.description}}</span>
            </div>
                {% if phase.tasks is defined %}
                    {% for task in phase.tasks %}
                        <div class="m-2"> <i class="fas fa-arrow-right font-weight-bold mr-2"></i>{{ task.name}}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
{% endfor %}
</div>
