{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>{{icon('users fa-fw')}} Network admins</strong>
        <strong>({{objects.getPaginationData.lastItemNumber~"/"~objects.getTotalItemCount}})</strong>
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-default btn-xs" href="{{path('cert_unlp_ngen_academic_unit_new')}}">
                    {{icon('plus-circle fa-fw')}}add network admins
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <tr role="row">
            <th>{{ knp_pagination_sortable(academicUnits, 'Name', 'slug') }}</th>
            <th>{{ knp_pagination_sortable(academicUnits, 'active', 'isActive') }}</th>
            <th>Action</th>
        </tr>
        <tbody>
            {% for academicUnit in academicUnits %}
                {% include 'CertUnlpNgenBundle:AcademicUnit:Frontend/list/academicUnitListRow.html.twig' with {'academicUnit': academicUnit} %}
            {% endfor %}
        </tbody>

    </table>
</div>
<div class="pagination-centered">
    {{ knp_pagination_render(academicUnits, null, {}, { "prev_label": "Previous", "next_label": "Next", "first_label": "First", "last_label": "Last"}) }}
</div>
