{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ incidentTaxonomyPredicate.slug }}">
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':incidentTaxonomyPredicate , 'detail_link': path('cert_unlp_ngen_taxonomy_predicate_detail',{ 'slug': incidentTaxonomyPredicate.slug})} %}
    </td>
    <td id="state_label_holder" class="text-center">
        {{ print.statusbox(incidentTaxonomyPredicate) }}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(incidentTaxonomyPredicate.color,incidentTaxonomyPredicate.icon,incidentTaxonomyPredicate.name,'#',incidentTaxonomyPredicate.name) }}
        </div>
    </td>
    <td class="text-center">
        {{ print.colordropbox('primary','hashtag',incidentTaxonomyPredicate.values.count,'#') }}
    </td>
    <td class="text-center">
        {{ print.colordropbox('primary','code-branch',incidentTaxonomyPredicate.version,'#',incidentTaxonomyPredicate.version) }}
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incidentTaxonomyPredicate.createdAt|date('Y-m-d'),'#',incidentTaxonomyPredicate.createdAt|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incidentTaxonomyPredicate.updatedAt|date('Y-m-d'),'#',incidentTaxonomyPredicate.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
</tr>