{#
 This file is part of the Ngen - CSIRT Incident Report System.

 (c) CERT UNLP <support@cert.unlp.edu.ar>

 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends  'CertUnlpNgenBundle:IncidentReport:Report/lang/mail.html.twig' %}
{% block greeting %}
    {{ 'greeting'|trans}} {{ incident.network.networkAdmin }},
{% endblock %}
{% block report_content %}
    <tr>
        <td>
            {% block report_message %}
                <p>{{ 'The incident id '|trans }} {{ incident.id }} {{  ' has been closed, setting it as '|trans }} {% include "CertUnlpNgenBundle:Incident:Frontend/list/stateLabel.html.twig" with {'incident': incident} %}.</p>
                <p>{{ 'If you think we need to review this decision, please let us know.'|trans }}</p>
                <hr>

            {% endblock %}
        </td>
    </tr>
{% endblock %}
