{#
 This file is part of the Ngen - CSIRT Incident Report System.

 (c) CERT UNLP <support@cert.unlp.edu.ar>

 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
<h5>{{ "Incident Information"|trans }}:</h5>

<table width="600" style="border:1px solid #333">

     <tr>
        <td>
            {{ 'Host/Network Involved'|trans }}
        </td>
        <td>
            {{ object.address }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'State'|trans }}
        </td>
        <td>
            {% include "CertUnlpNgenBundle:Incident:Frontend/list/stateLabel.html.twig" with {'incident': object} %}
        </td>
    </tr>

    <tr>
        <td>
            {{ 'Type'|trans }}
        </td>
        <td>
            {{ object.type | trans }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'TLP'|trans }}
        </td>
        <td>
            <span>TLP-{{ object.tlp | trans }}</span>
        </td>
    </tr>
    <tr>
        <td>
            {{ 'Created at'|trans }}
        </td>
        <td>
            {{ object.createdAt|date('Y-m-d H:i') }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'Original Date'| trans }}
        </td>
        <td>
            {{ object.date |date('Y-m-d H:i') }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'Last Update'|trans }}
        </td>
        <td>
            {{ object.updatedAt |date('Y-m-d H:i') }}
        </td>
        </td>

        {% if object.incidentsDetected.count %}
    <tr>
        <td>
            {{ 'Times Detected'|trans }}
        </td>
        <td>
            {{ 'Detected'|trans }}{{ ' ' }}{{ label_info(object.incidentsDetected.count) }}{{ ' ' }}{{ 'times'|trans }}
        </td>
    </tr>
    <tr>
        <td>
            {{ 'Last Time Detected'|trans }}
        </td>
        <td>
            {{ object.incidentsDetected|last.date|date('Y-m-d H:i') }}
        </td>
    </tr>
    {% endif %}


    {% if object.evidenceFilePath %}

        <tr>
            <td>
                {{ 'Evidence File'|trans }}
            </td>
            <td>
                <a href="{{ path('cert_unlp_ngen_internal_incident_frontend_evidence_incident',{'slug':object.slug}) }}">{{ 'Evidence'| trans }}
                    (.zip)</a>
            </td>
        </tr>
    {% endif %}
</table>
