{% extends  'CertUnlpNgenBundle:IncidentReport:Report/base/baseReport.html.twig' %}
{% block greeting %}
    {{ 'greeting'|trans({},null,lang)}}  {{ incident.network.networkAdmin }},
{% endblock %}
{% block report_content %}
    <tr>
        <td>
            {% if(body) %}
                {{ body|striptags('<div>,<a>,<pre>,<code>')|raw }}
            {% endif %}
        </td>
        <td class="expander"></td>
    </tr>
{% endblock %}
{% block footer_content %}
    {{ 'thanks'|trans({},null,lang)}}{{ 'farewell'|trans({},null,lang) }}, {{  team.name }} - {{  team.url }}
{% endblock %}
{% block footer_generated_by %}

    {{ 'firma_ngen'|trans({},null,lang) |raw}}

{% endblock %}