{#
 This file is part of the Ngen - CSIRT Incident Report System.

 (c) CERT UNLP <support@cert.unlp.edu.ar>

 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends  'CertUnlpNgenBundle:IncidentReport:Report/lang/mail.html.twig' %}
{% block greeting %}
    {{ 'greeting'|trans }} {{ incident.assigned }},
{% endblock %}

{% block report_message %}
    <div class="col-lg-12">
        {% include "CertUnlpNgenBundle:IncidentReport/Report/lang:incidentInformationMail.html.twig" with { 'object':incident } %}
    </div>
{% endblock %}

{% block incidents_detected %}
{% endblock %}
{% block derivated_problem %}
{% endblock %}
{% block verification %}
{% endblock %}
{% block recomendations %}
{% endblock %}
{% block more_information %}
{% endblock %}

{% block footer_content %}
    {{ 'thanks'|trans }}{{ 'farewell'|trans }}, {{ team.name }} - {{ team.url }}
{% endblock %}
{% block footer_generated_by %}

    {{ 'firma_ngen'|trans |raw }}

{% endblock %}