{#
 This file is part of the Ngen - CSIRT Incident Report System.

 (c) CERT UNLP <support@cert.unlp.edu.ar>

 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends  'CertUnlpNgenBundle:IncidentReport:Report/lang/mail.html.twig' %}
{% block greeting %}
    {{ 'greeting'|trans }} {{ incident.network.networkAdmin }},
{% endblock %}
{% block report_content %}
    <tr>
        <td>
            {% block report_message %}
                {{ 'The incident id '|trans }} {{ incident.id }} {{ ' has been reopened.' |trans }}
                <hr>
                <h5>{{ 'Updates'|trans }}:</h5>
                {% include "CertUnlpNgenBundle:IncidentReport/Report/lang:changes.html.twig" with { 'object':incident } %}
                <hr>
            {% endblock %}
        </td>
    </tr>
{% endblock %}
