{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ IncidentDecision.id }}">
    <td id="decision_label_holder" class="align-middle">
        <div>
            {{ IncidentDecision.type }}
        </div>
    </td>
    <td id="decision_label_holder" class="align-middle">
        <div>
            {{ IncidentDecision.feed }}
        </div>
    </td>
    <td id="decision_label_holder" class="align-middle">
        <div>
            {{ IncidentDecision.network ?: 'Do nothing' | trans }}
        </div>
    </td>
    <td id="decision_label_holder" class="align-middle">
        <div>
            {{ IncidentDecision.state |trans }}
        </div>
    </td>
    <td id="decision_label_holder" class="align-middle">
        <div>
            <span class="label tlp-{{ IncidentDecision.tlp | lower }} left"
                  id="tlp">{{ 'TLP'|trans }}:{{ IncidentDecision.tlp|trans }}</span>
        </div>
    </td>
    <td id="decision_label_holder" class="align-middle">
        <div>
            {{ IncidentDecision.impact  ?:'Do nothing' | trans }}
        </div>
    </td>
    <td id="decision_label_holder" class="align-middle">
        <div>
            {{ IncidentDecision.urgency ?:'Do nothing' | trans }}
        </div>
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {% include "CertUnlpNgenBundle:IncidentDecision:Frontend/list/incidentDecisionLabel.html.twig" with {'incidentDecision': IncidentDecision} %}
        </div>
    </td>
    <td class="align-middle">

        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':IncidentDecision , 'detail_link': path('cert_unlp_ngen_incident_decision_detail',{'id': IncidentDecision.id}),'edit_link': path('cert_unlp_ngen_incident_decision_edit',{'id': IncidentDecision.id})} %}
    </td>
</tr>