{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ IncidentDecision.id }}">
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':IncidentDecision , 'detail_link': path('cert_unlp_ngen_incident_decision_detail',{'id': IncidentDecision.id}),'edit_link': path('cert_unlp_ngen_incident_decision_edit',{'id': IncidentDecision.id})} %}
    </td>
    <td id="state_label_holder" class="text-center">
        {{ print.statusbox(IncidentDecision) }}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentDecision.type.color,IncidentDecision.type.icon,IncidentDecision.type,path('cert_unlp_ngen_incident_type_detail',{'slug': IncidentDecision.type.slug}),IncidentDecision.type.slug) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentDecision.feed.color,IncidentDecision.feed.icon,IncidentDecision.feed,path('cert_unlp_ngen_incident_feed_detail',{'slug': IncidentDecision.feed.slug}),IncidentDecision.feed.slug) }}
        </div>
    </td>
    <td class="text-center">
        {% if IncidentDecision.network %}
            {% set detail_link %}
                {% include '@CertUnlpNgen/Network/Frontend/list/networkLink.html.twig' with {'action':'detail','network':IncidentDecision.network} %}
            {% endset %}
            <div class="float-left">
                {{ print.colordropbox(IncidentDecision.network.color,IncidentDecision.network.icon,IncidentDecision.network,detail_link,IncidentDecision.network.id) }}
            </div>
        {% else %}
            {{ "Do nothing" | trans }}
        {% endif %}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentDecision.state.color,IncidentDecision.state.icon,IncidentDecision.state,path('cert_unlp_ngen_incident_state_detail',{'slug': IncidentDecision.state.slug}),IncidentDecision.state.slug) }}
        </div>
    </td>
    <td class="text-center">
        {{ print.colordropbox(IncidentDecision.tlp.color,IncidentDecision.tlp.icon,IncidentDecision.tlp.name,'#',IncidentDecision.tlp.slug) }}
    </td>
    <td class="text-center">
        {% if IncidentDecision.impact %}
            <div class="float-left">
                {{ print.colordropbox(IncidentDecision.impact.color,IncidentDecision.impact.icon,IncidentDecision.impact,'#',IncidentDecision.impact) }}
            </div>
        {% else %}
            {{ "Do nothing" | trans }}
        {% endif %}
    </td>
    <td class="text-center">
        {% if IncidentDecision.urgency %}
            <div class="float-left">
                {{ print.colordropbox(IncidentDecision.urgency.color,IncidentDecision.urgency.icon,IncidentDecision.urgency,'#',IncidentDecision.urgency) }}
            </div>
        {% else %}
            {{ "Do nothing" | trans }}
        {% endif %}
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',IncidentDecision.createdAt|date('Y-m-d'),'#',IncidentDecision.createdAt|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',IncidentDecision.updatedAt|date('Y-m-d'),'#',IncidentDecision.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
</tr>