{#
This file is part of the Ngen - CSIRT Incident Report System.

(c) CERT UNLP <support@cert.unlp.edu.ar>

This source file is subject to the GPL v3.0 license that is bundled
with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ IncidentDecision.id }}">
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':IncidentDecision , 'detail_link': path('cert_unlp_ngen_incident_decision_detail',{'id': IncidentDecision.id}),'edit_link': path('cert_unlp_ngen_incident_decision_edit',{'id': IncidentDecision.id})} %}
    </td>
    <td id="state_label_holder" class="text-center">
        {{ print.statusdropbox(IncidentDecision) }}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentDecision.type.color(lang),IncidentDecision.type.icon,IncidentDecision.type,path('cert_unlp_ngen_incident_type_detail',{'slug': IncidentDecision.type.slug}),IncidentDecision.type) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentDecision.feed.color,IncidentDecision.feed.icon,IncidentDecision.feed,path('cert_unlp_ngen_incident_feed_detail',{'slug': IncidentDecision.feed.slug}),IncidentDecision.feed) }}
        </div>
    </td>
    <td class="text-center">
        {% if IncidentDecision.network %}
            <div class="float-left">
                {{ print.colordropbox(IncidentDecision.network.color,IncidentDecision.network.icon,IncidentDecision.network,path('cert_unlp_ngen_network_detail_network_id',{'id':IncidentDecision.network.id}),IncidentDecision.network) }}
            </div>
        {% else %}
            {{ print.colorbox('info','share-alt',"Any" | trans,'#') }}
        {% endif %}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(IncidentDecision.state.color,IncidentDecision.state.icon,IncidentDecision.state,path('cert_unlp_ngen_incident_state_detail',{'slug': IncidentDecision.state.slug}),IncidentDecision.state) }}
        </div>
    </td>
    <td class="text-center">
        {{ print.colordropbox(IncidentDecision.tlp.color,IncidentDecision.tlp.icon,IncidentDecision.tlp.name,'#',IncidentDecision.tlp) }}
    </td>
    <td class="text-center">
        {% if IncidentDecision.priority %}
            <div class="float-left">
                {{ print.colordropbox(IncidentDecision.priority.color,IncidentDecision.priority.icon,IncidentDecision.priority,'#',IncidentDecision.priority) }}
            </div>
        {% else %}
            {{ "Null" | trans }}
        {% endif %}
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',IncidentDecision.createdAt|date('Y-m-d'),'#',IncidentDecision.createdAt|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',IncidentDecision.updatedAt|date('Y-m-d'),'#',IncidentDecision.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
</tr>