{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>{{ icon('unlock-alt fa-fw') }}{{ 'Incident Decisions'|trans }}</strong>
        <strong>({{ objects.getPaginationData.lastItemNumber~"/"~objects.getTotalItemCount }})</strong>
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-default btn-xs" href="{{ path('cert_unlp_ngen_incident_decision_new') }}">
                    {{ icon('plus-circle fa-fw') }}{{ 'add incident Decision'| trans }}
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <tr role="row">
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'Type'|trans , 'type.slug') }}</th>
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'Feed'|trans, 'feed.slug') }}</th>
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'Network'|trans, 'network.ip') }}</th>
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'State'|trans, 'state.slug') }}</th>
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'TLP'|trans, 'tlp.slug') }}</th>
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'Impact'|trans, 'impact') }}</th>
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'Urgency'|trans, 'urgency') }}</th>
            <th>{{ knp_pagination_sortable(IncidentDecisions, 'active'|trans, 'isActive') }}</th>
            <th>{{ 'Action'|trans }}</th>
        </tr>
        <tbody>
        {% for IncidentDecision in IncidentDecisions %}
            {% include 'CertUnlpNgenBundle:IncidentDecision:Frontend/list/incidentDecisionListRow.html.twig' with {'IncidentDecision': IncidentDecision} %}
        {% endfor %}
        </tbody>

    </table>
</div>
<div class="pagination-centered">
    {{ knp_pagination_render(IncidentDecisions, null, {}, { "prev_label": "Previous"|trans, "next_label": "Next"|trans, "first_label": "First"|trans, "last_label": "Last"|trans}) }}
</div>
