{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            <strong>{{ 'Showing'|trans }}</strong>
            <strong>({{ objects.getPaginationData.lastItemNumber~"/"~objects.getTotalItemCount }})</strong>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table id="tabla_hosts" class="table table-bordered">
                <thead>
                <tr role="row">
                    <th>{{ 'Action'|trans }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Active'|trans, 'isActive') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Type'|trans , 'type.slug') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Feed'|trans, 'feed.slug') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Network'|trans, 'network.ip') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'State'|trans, 'state.slug') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'TLP'|trans, 'tlp.slug') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Impact'|trans, 'impact') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Urgency'|trans, 'urgency') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Created at'|trans, 'createdAt') }}</th>
                    <th>{{ knp_pagination_sortable(IncidentDecisions, 'Updated at'|trans, 'updatedAt') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for IncidentDecision in IncidentDecisions %}
                    {% include 'CertUnlpNgenBundle:IncidentDecision:Frontend/list/incidentDecisionListRow.html.twig' with {'IncidentDecision': IncidentDecision} %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="pagination justify-content-center">
    {{ knp_pagination_render(IncidentDecisions, null, {}, { "prev_label": "Previous"|trans, "next_label": "Next"|trans, "first_label": "First"|trans, "last_label": "Last"|trans}) }}
</div>
