{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}Network admins{% endblock %}

{% block content_header %}
    <h1 class="page-header">{{ icon('users fa-fw') }} Network Entities</h1>
{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_academic_unit_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:AcademicUnit:Frontend/list/academicUnitList.html.twig' with {'academicUnits': objects  } %}
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/academic_unit/AcademicUnit.js'
        '@CertUnlpNgenBundle/Resources/public/js/academic_unit/AcademicUnitApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var academic_unit = new AcademicUnit();
        var academic_unit_api = new AcademicUnitApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}
