{# 
 This file is part of the Ngen - CSIRT Network Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% extends 'CertUnlpNgenBundle::frontend.html.twig' %}

{% block title %}{{ 'Incident Taxonomy Predicates'|trans }}{% endblock %}

{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">{{ icon('fa fa-fas fa-cubes') }} {{ 'Incident Taxonomy Predicates'|trans }}</h1>

{% endblock %}

{% block sideBar_search_path %}{{ path('cert_unlp_ngen_incident_predicate_search') }}{% endblock %}

{% block content_body %}
    {% include 'CertUnlpNgenBundle:incidentTaxonomyPredicates:Frontend/list/incidentTaxonomyPredicateList.html.twig' with {'incidentTaxonomyPredicate': objects  } %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/taxonomy/IncidentTaxonomyPredicate.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/taxonomy/IncidentTaxonomyPredicateApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incident_taxonomy_predicate = new IncidentTaxonomyPredicate();
        var incident_taxonomy_predicate_api = new IncidentTaxonomyPredicateApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}