{#
This file is part of the Ngen - CSIRT Incident Report System.

(c) CERT UNLP <support@cert.unlp.edu.ar>

This source file is subject to the GPL v3.0 license that is bundled
with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<div class="row">
    <div class="col-lg-8">
        <div class="card shadow mb-4">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">{{ 'Predicate Information'|trans }}</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="">
                                {{ 'Predicate'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.value |trans }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Expanded'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.expanded }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ "Description"|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.description }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Created at'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.createdAt|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Values'|trans }}
                            </td>
                            <td class="d-sm-flex align-items-center justify-content-between mb-4">
                                <ul class="list-group">
                                    {% for incidentTaxonomyValue in incidentTaxonomyPredicate.values %}
                                        <li class="list-group-item">
                                            {{ print.colordropbox(incidentTaxonomyValue.color,incidentTaxonomyValue.icon,incidentTaxonomyValue.name,path('cert_unlp_ngen_taxonomy_value_detail',{'slug': incidentTaxonomyValue.slug}),'','d-inline') }}
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>

                        <tr>
                            <td class="">
                                {{ 'Last Update'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.updatedAt|date('Y-m-d') }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
