{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'Predicate Information'|trans }}</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <tr>
                            <td class="">
                                {{ 'Predicate'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.value |trans }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Expanded'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.expanded }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ "Description"|trans}}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.description }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Created at'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.createdAt|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Values'|trans }}
                            </td>
                            <td class="">
                            {%  for value in incidentTaxonomyPredicate.values %}
                                <a href="{{ path('cert_unlp_ngen_taxonomy_value_detail',{ 'slug': value.slug})}}"> {{ label_info(value.expanded) }} </a>
                            {% endfor %}
                            </td>
                        </tr>

                        <tr>
                            <td class="">
                                {{ 'Last Update'|trans }}
                            </td>
                            <td class="">
                                {{ incidentTaxonomyPredicate.updatedAt|date('Y-m-d') }}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Active'|trans }}
                            </td>
                            <td class="">
                                {% include "CertUnlpNgenBundle:IncidentTaxonomyPredicate/Frontend/list:stateLabel.html.twig" with {'incidentTaxonomyPredicate': incidentTaxonomyPredicate} %}
                            </td>
                        </tr>
                        <tr>
                            <td class="">
                                {{ 'Incidents'|trans }}
                            </td>
                            <td class="">
                                {#                                    <a target="_blank" class="btn btn-sm btn-primary" role="button" href="{{path('cert_unlp_ngen_incident_search_incident',{'term': '"'~object.name~'"'~ "&&" ~'"'~object.email~'"'})}}">#}
                                <span>Aca estaria bueno poner el contador de incidentes </span>
                                {#                                    </a>#}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
