{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle::IncidentReport/Frontend/frontend.html.twig' %}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}
{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">
        {{ icon(object.icon ~' fa-fw text-'~object.color) }}
        {{ object }}
        {{ print.colorbox('primary','id-card',object.id,'#') }}
        {{ print.statuscolor(object) }}
        {{ print.colorbox('primary','edit','Edit',path('cert_unlp_ngen_incident_type_report_edit',{'lang': object.lang,'slug': object.type.slug})) }}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Report Information'|trans }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ "System Id"|trans }}
                                </td>
                                <td class="">
                                    {{ object.lang }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Type'|trans }}
                                </td>
                                <td class="">
                                    {{ object.type }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Created at'|trans }}
                                </td>
                                <td class="">
                                    {{ object.createdAt|date('Y-m-d') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'Last Update'|trans }}
                                </td>
                                <td class="">
                                    {{ object.updatedAt|date('Y-m-d') }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Report content'|trans }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ 'Problem'|trans }}
                                </td>
                                <td class="">
                                    {{ object.problem|striptags('<div>,<a>,<pre>,<code>,<ul>,<li>,<p>')|raw }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Derivated problem'|trans }}
                                </td>
                                <td class="">
                                    {{ object.derivatedProblem|striptags('<div>,<a>,<pre>,<code>,<ul>,<li>,<p>')|raw }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'Verification'|trans }}
                                </td>
                                <td class="">
                                    {{ object.verification|striptags('<div>,<a>,<pre>,<code>,<ul>,<li>,<p>')|raw }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'Recomendations'|trans }}
                                </td>
                                <td class="">
                                    {{ object.recomendations|striptags('<div>,<a>,<pre>,<code>,<ul>,<li>,<p>')|raw }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'More information'|trans }}
                                </td>
                                <td class="">
                                    {{ object.moreInformation|striptags('<div>,<a>,<pre>,<code>,<ul>,<li>,<p>')|raw }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}