{#
This file is part of the Ngen - CSIRT Incident Report System.

(c) CERT UNLP <support@cert.unlp.edu.ar>

This source file is subject to the GPL v3.0 license that is bundled
with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ incident.id }}" role="row">

    <td class="text-center">
        {% include "CertUnlpNgenBundle:Incident:Frontend/list/actionsLabel.html.twig" with {'incident': incident,'incidentsDetected':incident.incidentsDetected} %}
    </td>
    <td id="state_label_holder" class="text-center">
        {% include "CertUnlpNgenBundle:Incident/Frontend:incidentTimeMacro.html.twig" with {'incident': incident,'type':'label_list', 'response': true} %}
        {% if incident.respondedDate %}
            {% include "CertUnlpNgenBundle:Incident/Frontend:incidentTimeMacro.html.twig" with {'incident': incident,'type':'label_list', 'response': false} %}
        {% endif %}
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incident.date|date('Y-m-d'),'#',incident.date|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        {% if incident.origin %}
            <div class="float-left">
                {{ print.colordropbox(incident.origin.color,incident.origin.icon,incident.address,path('cert_unlp_ngen_host_detail_host_id',{'id': incident.origin.id}),incident.origin.address) }}
            </div>
        {% endif %}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(incident.type.color,incident.type.icon,incident.type,path('cert_unlp_ngen_incident_type_detail',{'slug': incident.type.slug}),incident.type) }}
        </div>
    </td>
    <td id="state_label_holder" class="text-center">
        <small>
            {{ print.colordropbox(incident.state.color,incident.state.icon,incident.state,path('cert_unlp_ngen_incident_state_detail',{'slug': incident.state.slug}),incident.state) }}
        </small>
    </td>

    {# <td id="tlp_label_holder" class="text-center"> #}
    {# {{ print.colordropbox(incident.tlp.color,incident.tlp.icon,incident.tlp.name,'#',incident.tlp) }} #}
    {# </td> #}
    <td class="text-center">
        {{ print.colordropbox(incident.priority.color,incident.priority.icon,incident.priority,path('cert_unlp_ngen_incident_priority_detail',{'id': incident.priority.id}),incident.priority) }}
    </td>

    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(incident.feed.color,incident.feed.icon,incident.feed,path('cert_unlp_ngen_incident_feed_detail',{'slug': incident.feed.slug}),incident.feed) }}
        </div>
    </td>

    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incident.updatedAt|date('Y-m-d'),'#',incident.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
    {# <td class="text-center"> #}
    {# {{ print.colordropbox('primary','hashtag',incident.ltdCount,'#',incident.ltdCount) }} #}

    {# </td> #}
    <td class="text-center">
        {{ print.colordropbox(incident.reporter.color,incident.reporter.icon,incident.reporter,path('cert_unlp_ngen_user_detail_user',{'username': incident.reporter.username}),incident.reporter) }}
    </td>
</tr>