{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ incident.id }}" role="row">
    <td id="state_label_holder">
        <div class="label-holder">
            {% include "CertUnlpNgenBundle:Incident:Frontend/list/stateLabel.html.twig" with {'incident': incident} %}
        </div>
    </td>
    <td>
        {{ incident.ip }}
    </td>
    <td>
        {{ incident.type }}
    </td>
    <td>
        {{ incident.feed }}
    </td>
    <td>
        {% include "CertUnlpNgenBundle:Incident:Frontend/dateLabel.html.twig" with {'incident': incident,'lastTimeDetected':incident.lastTimeDetected} %}
    </td>
    <td>
       <span class="tlp-{{ incident.tlp }} left">
        TLP-{{ incident.tlp|upper }}
       </span>
    </td>
    <td>
        <div class="btn-group inline pull-left dropdown action-dropdown">
            <a class="btn btn-sm btn-primary" role="button"
               href="{{ path('cert_unlp_ngen_internal_incident_frontend_detail_incident',{'slug':incident.slug}) }}">
                Details
            </a>
            <button class="btn btn-sm btn-primary ladda-button dropdown-toggle" data-style="slide-down" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                Actions
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">

                <li role="presentation">
                    <a {% if incident.isClosed == false %}style="display: none;"{% endif %} class="state-label"
                       data-state-slug="open" data-state-name="Open" role="menuitem" tabindex="-1"
                       href="#">{{ icon('repeat alert-info') }} <span class="action-text">Open</span></a>
                </li>

                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       href="{{ path('cert_unlp_ngen_internal_incident_frontend_edit_incident',{'slug': incident.slug}) }}">{{ icon('edit alert-info') }}
                        <span class="action-text">Edit</span></a>
                </li>

                <li role="presentation">
                    <a class="state-label" data-state-slug="closed" data-state-name="Closed" role="menuitem"
                       tabindex="-1" href="#">{{ icon('lock alert-success') }} <span
                                class="action-text">Close</span></a>
                </li>
                <li role="presentation">
                    <a class="state-label" data-state-slug="closed_by_inactivity" data-state-name="Closed by inactivity"
                       role="menuitem" tabindex="-1" href="#">{{ icon('hourglass alert-danger') }} <span
                                class="action-text">Close by inactivity</span></a>
                </li>
                <li role="presentation">
                    <a class="state-label" data-state-slug="unresolved" data-state-name="Unresolved" role="menuitem"
                       tabindex="-1" href="#">{{ icon('thumbs-down alert-danger') }} <span class="action-text">Unresolved</span></a>
                </li>
                <li role="presentation">
                    <a class="state-label" data-state-slug="removed" data-state-name="Removed" role="menuitem"
                       tabindex="-1" href="#">{{ icon('remove-sign alert-danger') }} <span
                                class="action-text">Remove</span></a>
                </li>
            </ul>
        </div>
    </td>
</tr>