{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

{% set translatedState = incident.state.name|trans %}
{#{% set translatedStatus = incident.statusToString|trans %}#}

{#{{ label_info(translatedState) }}#}



{%  set responseLeft= incident.priority.responsetime-incident.responseMinutes %}
{%  set resolutionLeft= incident.priority.resolutiontime-incident.resolutionMinutes %}

        <i class="fa fa-phone-slash"></i>
<i class="fa fa-history" style="color:red"></i>

{% if incident.isNew %}
    {% if (responseLeft > 0) %}
        <p><span class="label label-warning"> {{ 'Unanswered '|trans }}({{ responseLeft }})</span>
    {% else %}
            <i class="fa fa-history" style="color:red">({{ responseLeft * -1 }})</i>
    {% endif %}
{% else %}
    {% if (responseLeft > 0) %}
<p>     <span class="label label-success"> {{ 'Response on time  '|trans }}</span>
    {% else %}
<p>     <span class="label label-danger"> {{ ' Response delayed '|trans }}({{ responseLeft * -1 }})</span>
    {% endif %}
    {% if incident.isClosed %}
        {% if resolutionLeft > 0 %}
<p>         <span class="label label-success"> {{ 'Solved '|trans }} </span>
        {% else %}
<p>         <span class="label label-danger"> {{ 'Solved '|trans }}({{ resolutionLeft * -1 }})</span>
        {% endif %}
    {% else %}
        {% if resolutionLeft > 0 %}
<p>         <span class="label label-info"> {{ 'Unsolved '|trans }}({{ resolutionLeft }})</span>
        {% else %}
<p>         <span class="label label-danger"> {{ 'Unsolved '|trans }}({{ resolutionLeft * -1 }})</span>
        {% endif %}
    {% endif %}
{% endif %}

<p>    <span class="label tlp-{{ incident.tlp | lower }}"
             id="tlp">{{ 'TLP'|trans }}: {{ incident.tlp }}</span>

