{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ user.username }}">
    <td class="align-middle">
        {{ user.username }}
    </td>
    <td class="align-middle">
        {{ user.fullName }}
    </td>
    <td class="align-middle">
        {{ user.email }}
    </td>
    <td class="align-middle">
        {{ user.lastLogin | date('Y-m-d') }}
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {% include "CertUnlpNgenBundle:User:Frontend/list/stateLabel.html.twig" with {'user': user} %}
        </div>
    </td>
    <td class="align-middle">

        <div class="btn-group inline pull-left dropdown action-dropdown">
            <a class="btn btn-sm btn-primary" role="button"
               href="{{ path('cert_unlp_ngen_user_detail_user',{'username': user.username}) }}">
                {{ 'Details'|trans }}
            </a>
            <button class="btn btn-sm btn-primary ladda-button dropdown-toggle" data-style="slide-down" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{ 'Actions'|trans }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       href="{{ path('cert_unlp_ngen_user_edit_user',{'username': user.username}) }}">{{ icon('edit alert-info') }}
                        <span class="action-text">{{ 'Edit'|trans }}</span></a>
                </li>
                <li role="presentation">
                    <a {% if user.isEnabled %}style="display: none;"{% endif %} class="state-label"
                       data-action="reactivate" data-state-name="active" data-state-slug="active" role="menuitem"
                       tabindex="-1" href="#">{{ icon('repeat alert-info') }} <span
                                class="action-text">{{ 'Reactivate'|trans }}</span></a>
                </li>

                <li role="presentation">
                    <a {% if not user.isEnabled %}style="display: none;"{% endif %} class="state-label"
                       data-action="desactivate" data-state-name="innactive" data-state-slug="innactive" role="menuitem"
                       tabindex="-1" href="#">{{ icon('lock alert-success') }} <span
                                class="action-text">{{ 'Desactivate'|trans }}</span></a>
                </li>
            </ul>
        </div>

</tr>