{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ incidentType.slug }}">
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':incidentType , 'detail_link': path('cert_unlp_ngen_incident_type_detail',{ 'slug': incidentType.slug}),'edit_link': path('cert_unlp_ngen_incident_type_edit',{'slug': incidentType.slug})} %}
    </td>
    <td id="state_label_holder" class="text-center">
        {{ print.statusdropbox(incidentType) }}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(incidentType.color,incidentType.icon,incidentType.name| trans,'#',incidentType.name| trans) }}
        </div>
    </td>
    <td class="text-center">
        {% if incidentType.taxonomyValue %}
            {{ print.colordropbox(incidentType.taxonomyValue.color,incidentType.taxonomyValue.icon,incidentType.taxonomyValue.name,path('cert_unlp_ngen_taxonomy_value_detail',{'slug': incidentType.taxonomyValue.slug})) }}
        {% endif %}
    </td>
    <td class="text-center">
        <div class="d-flex  align-items-center justify-content-around">
            {% for report in  incidentType.reports %}
                {{ print.colordropbox(report.color,report.icon,report.lang,path('cert_unlp_ngen_incident_type_report_detail',{'type': incidentType.slug, 'lang':report.lang})) }}
            {% endfor %}
        </div>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incidentType.createdAt|date('Y-m-d'),'#',incidentType.createdAt|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incidentType.updatedAt|date('Y-m-d'),'#',incidentType.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
</tr>