{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
<div class="panel panel-default">
    <div class="panel-heading">
        <strong>{{ icon('users fa-fw') }} {{ 'Network admins'|trans }}</strong>
        <strong>({{ objects.getPaginationData.lastItemNumber~"/"~objects.getTotalItemCount }})</strong>
        <div class="pull-right">
            <div class="btn-group">
                <a class="btn btn-default btn-xs" href="{{ path('cert_unlp_ngen_network_new_network_admin') }}">
                    {{ icon('plus-circle fa-fw') }}{{ 'add network admins'|trans }}
                </a>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover dataTable no-footer">
        <tr role="row">
            <th>{{ knp_pagination_sortable(networkAdmins, 'Name'|trans, 'slug') }}</th>
            <th>{{ knp_pagination_sortable(networkAdmins, 'Emails'|trans, 'emails') }}</th>
            <th>{{ knp_pagination_sortable(networkAdmins, 'Active'|trans, 'isActive') }}</th>
            <th>Action</th>
        </tr>
        <tbody>
        {% for networkAdmin in networkAdmins %}
            {% include 'CertUnlpNgenBundle:NetworkAdmin:Frontend/list/networkAdminListRow.html.twig' with {'networkAdmin': networkAdmin} %}
        {% endfor %}
        </tbody>

    </table>
</div>
<div class="pagination-centered">
    {{ knp_pagination_render(networkAdmins, null, {}, { "prev_label": "Previous"|trans, "next_label": "Next"|trans, "first_label": "First"|trans, "last_label": "Last"|trans}) }}
</div>
