{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

<tr data-id="{{ incidentState.slug }}">
    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':incidentState , 'detail_link': path('cert_unlp_ngen_incident_state_detail',{ 'slug': incidentState.slug}),'edit_link': path('cert_unlp_ngen_incident_state_edit',{'slug': incidentState.slug})} %}
    </td>
    <td id="state_label_holder" class="text-center">
        {{ print.statusdropbox(incidentState) }}
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(incidentState.color,incidentState.icon,incidentState.name| trans,'#',incidentState.name| trans) }}
        </div>
    </td>
    <td class="text-center">
        <div class="float-left">
            {{ print.colordropbox(incidentState.behavior.color,incidentState.behavior.icon,incidentState.behavior.name| trans,'#',incidentState.behavior.name| trans) }}
        </div>
    </td>
    <td class="text-center">
        {{ incidentState.description | default('No description')| trans }}
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incidentState.createdAt|date('Y-m-d'),'#',incidentState.createdAt|date('Y-m-d')) }}
        </small>
    </td>
    <td class="text-center">
        <small>
            {{ print.colordropbox('primary','calendar-alt',incidentState.updatedAt|date('Y-m-d'),'#',incidentState.updatedAt|date('Y-m-d')) }}
        </small>
    </td>
</tr>