{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ incidentState.slug }}">
    <td class="align-middle">
        {{ incidentState.name |trans }}
    </td>
    <td class="align-middle">
        {{ incidentState.description | default('No description')| trans}}
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {{ incidentState.mailReporter |trans }}
        </div>
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {{ incidentState.mailAssigned |trans }}
        </div>
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {{ incidentState.mailAdmin |trans }}
        </div>
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {{ incidentState.mailTeam |trans }}

        </div>
    </td>
    <td id="state_label_holder" class="align-middle">
        <div>
            {% include "CertUnlpNgenBundle:IncidentState:Frontend/list/stateLabel.html.twig" with {'incidentState': incidentState} %}
        </div>
    </td>

    <td class="align-middle">

        <div class="btn-group inline pull-left dropdown action-dropdown">
            <a class="btn btn-sm btn-primary" role="button"
               href="{{ path('cert_unlp_ngen_incident_state_detail',{'slug': incidentState.slug}) }}">
                {{  'Details'|trans}}
            </a>
            <button class="btn btn-sm btn-primary ladda-button dropdown-toggle" data-style="slide-down" type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                {{ 'Actions'|trans }}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1"
                       href="{{ path('cert_unlp_ngen_incident_state_edit',{'slug': incidentState.slug}) }}">{{ icon('edit alert-info') }}
                        <span class="action-text">Edit</span></a>
                </li>

                <li role="presentation">
                    <a {% if incidentState.isActive %}style="display: none;"{% endif %} class="state-label"
                       data-action="reactivate" data-state-slug="active" data-state-name="active" role="menuitem"
                       tabindex="-1" href="#">{{ icon('repeat alert-info') }} <span
                                class="action-text"> {{  'Reactivate'|trans}}</span></a>
                </li>

                <li role="presentation">
                    <a {% if not incidentState.isActive %}style="display: none;"{% endif %} class="state-label"
                       data-action="desactivate" data-state-slug="innactive" data-state-name="innactive" role="menuitem"
                       tabindex="-1" href="#">{{ icon('lock alert-success') }} <span
                                class="action-text">{{ 'Desactivate'|trans }}</span></a>
                </li>
            </ul>
        </div>
    </td>
</tr>