{# 
 This file is part of the Ngen - CSIRT Incident Report System.
 
 (c) CERT UNLP <support@cert.unlp.edu.ar>
 
 This source file is subject to the GPL v3.0 license that is bundled
 with this source code in the file LICENSE.
#}

<tr data-id="{{ incidentState.slug }}">
    <td class="text-center">
        {{ incidentState.name |trans }}
    </td>
    <td class="text-center">
        {{ incidentState.description | default('No description')| trans }}
    </td>
{#    <td id="state_label_holder" class="text-center">#}
{#        <div>#}
{#            {{ incidentState.mailReporter |trans }}#}
{#        </div>#}
{#    </td>#}
{#    <td id="state_label_holder" class="text-center">#}
{#        <div>#}
{#            {{ incidentState.mailAssigned |trans }}#}
{#        </div>#}
{#    </td>#}
{#    <td id="state_label_holder" class="text-center">#}
{#        <div>#}
{#            {{ incidentState.mailAdmin |trans }}#}
{#        </div>#}
{#    </td>#}
{#    <td id="state_label_holder" class="text-center">#}
{#        <div>#}
{#            {{ incidentState.mailTeam |trans }}#}

{#        </div>#}
{#    </td>#}
    <td id="state_label_holder" class="text-center">
        <div>
            {% include "CertUnlpNgenBundle:IncidentState:Frontend/list/stateLabel.html.twig" with {'incidentState': incidentState} %}
        </div>
    </td>

    <td class="text-center">
        {% include '@CertUnlpNgen/Frontend/list/listDropdown.html.twig' with {'object':incidentState , 'detail_link': path('cert_unlp_ngen_incident_state_detail',{ 'slug': incidentState.slug}),'edit_link': path('cert_unlp_ngen_incident_state_edit',{'slug': incidentState.slug})} %}

    </td>
</tr>