{#
This file is part of the Ngen - CSIRT Incident Report System.

(c) CERT UNLP <support@cert.unlp.edu.ar>

This source file is subject to the GPL v3.0 license that is bundled
with this source code in the file LICENSE.
#}

{% extends 'CertUnlpNgenBundle:IncidentTaxonomyValue/Frontend:frontend.html.twig' %}
{% import '@CertUnlpNgen/Frontend/detailMacros.html.twig' as print %}

{% block content_header %}
    <h1 class="h3 mb-0 text-gray-800">
        {{ icon(object.icon~' fa-fw text-'~object.color) }}
        {{ object.name }}
        {{ print.colorboxbutton('primary','id-card',object.id,'#') }}
        {{ print.statusbox(object) }}
        {{ print.colordropbox(object.predicate.color,object.predicate.icon,object.predicate,path('cert_unlp_ngen_taxonomy_predicate_detail',{'slug': object.predicate.slug}),'','d-inline') }}
        {{ print.colorbox('primary','edit','Edit',path('cert_unlp_ngen_taxonomy_value_edit',{'slug': object.slug})) }}
    </h1>
{% endblock %}
{% block content_body %}
    <div class="row">
        <div class="col-lg-6">
            <div class="card shadow mb-4">
                <div class="card-header">
                    <h6 class="m-0 font-weight-bold text-primary">{{ 'Value Information'|trans }}</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <tr>
                                <td class="">
                                    {{ 'Value'|trans }}
                                </td>
                                <td class="">
                                    {{ object.value }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Expanded'|trans }}
                                </td>
                                <td class="">
                                    {{ object.expanded }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ "Description"|trans }}
                                </td>
                                <td class="">
                                    {{ object.description }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ "Taxonomy Predicate"|trans }}
                                </td>
                                <td class="">
                                    {{ object.predicate }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Created at'|trans }}
                                </td>
                                <td class="">
                                    {{ object.createdAt|date('Y-m-d') }}
                                </td>
                            </tr>

                            <tr>
                                <td class="">
                                    {{ 'Last Update'|trans }}
                                </td>
                                <td class="">
                                    {{ object.updatedAt|date('Y-m-d') }}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Active'|trans }}
                                </td>
                                <td class="">
                                    {% include "CertUnlpNgenBundle:IncidentTaxonomyValue/Frontend/list:stateLabel.html.twig" with {'incidentTaxonomyValue': object} %}
                                </td>
                            </tr>
                            <tr>
                                <td class="">
                                    {{ 'Incidents'|trans }}
                                </td>
                                <td class="">
                                    {# <a target="_blank" class="btn btn-sm btn-primary" role="button" href="{{path('cert_unlp_ngen_incident_search_incident',{'term': '"'~object.name~'"'~ "&&" ~'"'~object.email~'"'})}}"> #}
                                    <span>Aca estaria bueno poner el contador de incidentes </span>
                                    {# </a> #}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
    {% include "CertUnlpNgenBundle:IncidentTaxonomyPredicate/Frontend:incidentTaxonomyPredicateDetailContentBlock.html.twig" with {'incidentTaxonomyPredicate': object.predicate} %}

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '@CertUnlpNgenBundle/Resources/public/js/incident/report/IncidentReport.js'
        '@CertUnlpNgenBundle/Resources/public/js/incident/report/IncidentReportApi.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        var incident_report = new IncidentReport();
        var incident_report_api = new IncidentReportApi("{{ path("api_get") }}", "{{ app.user.apiKey }}");
    </script>
{% endblock %}